@import "colors";

.advantages-block {

  &__list {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;

    @media all and (max-width: 1024px) {
      grid-template: auto / repeat(2, 1fr);
    }

    @media all and (max-width: 576px) {
      grid-template: auto / 1fr;
    }

    &-item {
      @media all and (max-width: 1024px) {
        text-align: center;
      }
    }


    .list-item__value {
      display: block;
      position: relative;
      font-weight: 700;
      font-size: 6.4rem;
      line-height: 7.7rem;
      color: $text-dark-gray;

      &::before {
        content: '';
        display: block;
        width: 6rem;
        height: .2rem;
        position: absolute;
        bottom: -1.2rem;
        left: 0;
        background: $red;

        @media all and (max-width: 1024px) {
          left: calc(50% - 3rem);
        }
        @media all and (max-width: 576px) {
          bottom: -.2rem;
        }
      }
    }

    .list-item__desc {
      margin-top: 2.2rem;
      color: $text-gray;
      @media all and (max-width: 576px) {
        margin-top: 1.2rem;
      }
    }
  }
}
