@import "normalize";
@import "fonts";
@import "colors";

@import "css/jquery.fancybox";
@import "css/slick";
@import "css/slick-theme";
@import "css/upload";

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .4rem rgba(0,0,0,0.3);
    background-color: #ccc;
    }

  &::-webkit-scrollbar {
    width: .6rem;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 .4rem rgba(0,0,0,.3);
    background-color: $red;
  }
}


body.no-scroll {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: sticky;
}

button:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
}

.container {
  width: 134.4rem;
  padding: 0 4.2rem;
  margin: 0 auto;

  @media all and (max-width: 1344px) {
    width: 100%;
  }
  @media all and (max-width: 768px) {
    padding: 0 7.4rem;
  }
  @media all and (max-width: 680px) {
    padding: 0 3.4rem;
  }
  @media all and (max-width: 576px) {
    padding: 0 2rem;
  }
  @media all and (max-width: 375px) {
    padding: 0 1rem;
  }

}

.responsive-img {
  width: 100%;
}

.text-nowrap {
  white-space: nowrap;
}

.text-break {
  display: block;
}

.button {
  background: $red-gradient;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 700;
  height: 5.6rem;
  text-align: center;
  width: 22rem;
  border: none;
  border-radius: 0;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  transition: .2s;

  &:hover {
    -webkit-appearance: none;
    @media all and (min-width: 768px) {
      background: $red-gradient-active;
    }
  }

  &:active {
    -webkit-appearance: none;
    background: $red-gradient-active;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background: $red-gradient;
    color: rgba(255, 255, 255, .5);
  }
}

.form {

  &__input-outline {
    position: relative;
    margin-top: .7rem;
    padding: .2rem;
    background: #E0E0E0;
    margin-bottom: 2.4rem;

    &.input-outline--active {
      background: $blue-gradient;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__input-check {
    display: none;
    width: 1.4rem;
    height: 1.1rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: url('../img/input-check.svg') center center no-repeat;
  }

  &__input-error {
      position: absolute;
      bottom: -1.4rem;
      left: 0;

      font-size: 1.1rem;
      line-height: 1.1rem;
      color: $red;
    }

  &__label {
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    color: $text-dark-gray;
  }

  &__input, &__textarea {
    width: 100%;
    display: flex;
    align-items: center;
    height: 4.6rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0;
    color: $text-gray;
    font-size: 1.5rem;
    line-height: 2.2rem;
    letter-spacing: -0.01em;

    &::placeholder {
      color: $text-gray;
    }

    &:focus {
      outline: none;
    }

    &.input--invalid {
      outline: .2rem solid rgba(210, 49, 59, 0.5);
    }
  }

  &__textarea {
    height: unset;
    min-height: 10rem;
    resize: none;
  }

  &__button {
     width: 100%;
     margin-top: 4rem;
  }

  &__privacy-text {
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: $text-gray;
    text-align: center;
  }

  &__privacy-link {
    color: $text-gray;
    border-bottom: .1rem solid #c4c4c4;
  }

  &__upload {
    margin-top: .7rem;
  }

}






