@import "colors";

.block {
  padding: 8rem 0;

  @media all and (max-width: 576px) {
    padding: 6rem 0;
  }


  &.block--white {
    background: white;
  }
  &.block--light-gray {
    background: #F5F5F8;
  }
  &.block--light-gray2 {
    background: #F7F7F7;
  }
  &.block--gray {
    background: $bg-light-gray;
  }
  &.block--black {
    background: #41454C;
  }
  &.block--blue {
    background: #5789B2;
  }
  &.block--black, &.block--blue {
    .case-info__header-title {
      color: white;
    }
    .case-info__header-desc {
      color: rgba(255, 255, 255, 0.7);
    }

    .video__header-item-title {
      color: white;
    }
    .video__header-item-desc, .video__header-item-list {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &--case {
    padding: 12rem 0;

    @media all and (max-width: 1024px) {
      padding: 10rem 0;
    }
    @media all and (max-width: 576px) {
      padding: 8rem 0;
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: 1200px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__desc {
    max-width: 50rem;
    text-align: right;

    @media all and (max-width: 1200px) {
      margin-top: 3rem;
      text-align: left;
    }
    @media all and (max-width: 768px) {
      width: 100%;
      max-width: unset;
      text-align: center;
    }
  }

  &__bg-text {
  position: absolute;
  top: -3rem;
  left: 0;
  width: 100%;

  @media all and (max-width: 576px) {
    display: none;
  }

  &-img {
    width: 100%;
  }
}
}
