@import "colors";

.main-screen--img-left {
  .breadcrumbs {
    @media all and (min-width: 992px) {
      max-width: 62rem;
      margin-left: auto;
    }

    @media all and (max-width: 1200px) and (min-width: 992px) {
      max-width: unset;
      margin-left: 48rem;
      margin-top: 5rem;
    }
    @media all and (max-width: 992px) {
      margin-top: 4rem;
    }

    @media all and (max-width: 576px) {
      margin-top: 6rem;
    }
  }
}

.breadcrumbs {
  position: relative;
  display: flex;
  margin-top: 8rem;
  z-index: 2;

  @media all and (max-width: 1200px) {
    margin-top: 6rem;
  }
  @media all and (max-width: 992px) {
    justify-content: center;
    margin: 6rem auto 0;
  }

  &__item + &__item {
    margin-left: 1.9rem;
  }

  &__item {
    display: inline;
    color: rgba(255, 255, 255, .5);

    &-link {
      position: relative;
      color: rgba(255, 255, 255, .5);
      transition: .15s;

      &:after {
        content: '-';
        position: absolute;
        top: -.1rem;
        right: -1.3rem;

      }

      &:hover {
        color: white;

        &::after {
          color: rgba(255, 255, 255, .5);
        }
      }
    }
  }
}
