@import "colors";

.case-info {

  &__header {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 768px) {
      flex-direction: column;
    }

    &-title {
      display: block;
      min-width: 30rem;
      margin-right: 2rem;
      font-size: 3.6rem;
      line-height: 3.8rem;
      min-height: 4.4rem;

      @media all and (max-width: 1024px) {
        font-size: 3.2rem;
      }

      @media all and (max-width: 900px) {
        min-width: 20rem;
      }
      @media all and (max-width: 768px) {
        min-width: unset;
        margin-right: unset;
        text-align: center;
      }
    }

    &-desc {
      max-width: 78rem;
      color: $text-gray;
      line-height: 2.3rem;

      @media all and (max-width: 768px) {
        margin-top: 4rem;
        max-width: unset;
        text-align: center;
      }

      &.header-desc--short {
        max-width: 70rem;
        @media all and (max-width: 768px) {
          max-width: unset;
        }
      }

      .header-desc__p + .header-desc__p {
        margin-top: 2.4rem;
      }
    }
  }

  &__photo {
    margin-top: 10rem;

    @media all and (max-width: 1024px) {
      margin-top: 8rem;
    }
    @media all and (max-width: 576px) {
      margin-top: 6rem;
    }

    &-img {
      vertical-align: top;
      width: 100%;
    }
  }
}
