@import "colors";

.clients-block {
  background: $bg-light-gray;

  .block__desc {
    max-width: 84rem;
  }
}

.clients__grid {
  position: relative;
  margin-top: 8rem;
  display: grid;
  grid-template: auto / repeat(auto-fill, minmax(14rem, 1fr));
  justify-content: space-between;

  grid-gap: 2rem;
  z-index: 2;

  @media all and (max-width: 1200px) {
    margin-top: 6rem;
  }

  &-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    min-height: 9rem;

    &-logo{
      max-width: 10rem;
    }
  }
}
