$red: #D2313B;
$red-gradient: linear-gradient(0deg, #A92E35 -0.01%, #D2313B 99.98%);
$red-gradient-active: linear-gradient(0deg, #CD454D -0.01%, #F7444F 99.98%);

$black-gradient: linear-gradient(180deg, #42464D 0%, #2D3238 100%);

$blue-gradient: linear-gradient(346.3deg, #052743 -0.02%, #949EB7 100.01%);

$text-gray: #828282;
$text-dark-gray: #4F4F4F;
$text-black: #28272F;
$title-black: #333;

$bg-light-gray: #F2F4F6;



