@import "colors";

.form__upload {
  position: relative;
  padding: 1rem 7rem 1rem 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 6rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  background: transparent;
  border: 2px dashed #BDBDBD;
  color: $text-gray;

  &.upload--invalid {
    border: 2px dashed rgba(210,49,59,.5);

    .form__label-upload {
      border-left: .2rem dashed rgba(210,49,59,.5);
    }

    .form__input-error {
      display: block;
    }
  }

  &.highlight {
    border: 2px dashed #2B4661;
    .form__label-upload {
      border-left: .2rem dashed #2B4661;
    }
  }

  .form__input-error {
    display: none;
  }
  .form__upload-text {
    z-index: 0;
  }

}

.form__label-upload {
  display: block;
  width: 6rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-left: .2rem dashed #BDBDBD;
  background: url(../img/clip.svg) center center no-repeat;
  cursor: pointer;
}


.form__upload-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  @media all and (max-width: 420px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.form__upload-file {
  position: relative;
  display: inline-flex;
  align-items: center;
  background: #BDBDBD;
  padding: .55rem 3.5rem .55rem 1rem;
  border-radius: 1.6rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: white;
  margin: .4rem 1rem 0 0;

  @media all and (max-width: 375px) {
    overflow: hidden;
    max-width: 16.5rem;
  }
}
.form__upload-file-remove {
  position: absolute;
  right: 1rem;
  top: calc(50% - .8rem);
  margin-left: 2rem;
  background: white;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: none;
  font-size: 0;
  cursor: pointer;

  &::before, &::after {
    content: '';
    display: block;
    width: .8rem;
    height: .2rem;
    position: absolute;
    left: calc(50% - .4rem);
    top: calc(50% - .1rem);
    background: #BDBDBD;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
