@import "colors";

.features-block {
  .block__title {
    @media all and (max-width: 768px) {
      font-size: 3.2rem;
      line-height: 3.8rem;
    }
  }
}
.features-block__features-grid {
  position: relative;
  margin-top: 8rem;
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  grid-gap: 2rem;
  z-index: 2;

  @media all and (max-width: 720px) {
    margin-top: 6rem;
    grid-template: auto / 1fr;
  }
}

.features-grid__item {
  padding: 4rem;
  background: white;
  box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.08);

  @media all and (max-width: 992px) {
    padding: 4rem 2.5rem;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media all and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &-icon {
    vertical-align: top;
    max-height: 3rem;
    margin-right: 4rem;

    @media all and (max-width: 1024rem) {
      margin-right: 3rem;
    }
    @media all and (max-width: 768px) {
      margin-right: 0;
    }
  }
  &-title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-dark-gray;

    @media all and (max-width: 1024rem) {
      display: flex;
      min-height: 4.4rem;
      align-items: center;
    }
    @media all and (max-width: 768px) {
      margin-top: 3rem;
      text-align: center;
    }
  }
  &-desc {
    margin-top: 3rem;
    color: $text-gray;
    line-height: 2.3rem;

    @media all and (max-width: 768px) {
      margin-top: 2rem;
      text-align: center;
    }

  }
}
