@import "colors";

.footer {
  padding: 8rem 0 0;
  background: $black-gradient;

  &__add-info {
    color: rgba(255, 255, 255, 0.8);
    border-top: .1rem solid rgba(255, 255, 255, 0.1);

    &-inner {
      height: 8.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media all and (max-width: 900px) {
        height: 10.6rem;
      }

      @media all and (max-width: 480px) {
        height: unset;
        padding: 2rem 0 5.7rem;
        flex-direction: column;

      }
    }
  }

  &__company {
    display: flex;
    align-items: center;

    @media all and (max-width: 480px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    max-width: 5rem;
    margin-right: 3rem;

    @media all and (max-width: 480px) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }

  &__add-links {
    display: flex;

    @media all and (max-width: 900px) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }

    @media all and (max-width: 480px) {
      margin-top: 6rem;
      align-items: center;
    }
  }

  &__link {
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      color: white;
    }
  }

  &__link + &__link {
    margin-left: 4rem;
    @media all and (max-width: 900px) {
      margin-bottom: 1rem;
    }
    @media all and (max-width: 480px) {
      margin-left: unset;
      margin-bottom: 2rem;
    }
  }
}
