@import "colors";

.header {
  position: relative;
  border-bottom: .1rem solid rgba(255, 255, 255, .2);
  z-index: 10;
  margin-top: -.1rem;

  &.header--active {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
    background: white;

   .button {
     background: $red-gradient;
     color: white;
     &:hover {
       background:$red-gradient-active;
        color: white;
     }
   }
  }

  &--cases {
    .button {
      background: white;
      color: $text-dark-gray;

      &:hover {
        background: white;
        color: $text-dark-gray;
      }
    }
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8.7rem;

    @media all and (max-width: 576px) {
      height: 6rem;
    }
  }

  &__logo {

    @media all and (max-width: 1024px) {
      order: 3;
    }

    &-img {
      max-height: 5rem;

      @media all and (max-width: 576px) {
        max-height: 4rem;
      }
      @media all and (max-width: 375px) {
        max-height: 3rem;
      }
    }
  }

  &__start-project {
    @media all and (max-width: 1024px) {
      order: 2;
    }
    @media all and (max-width: 640px) {
      display: none;
    }

    &-button {
      @media all and (max-width: 1024px) {
        width: 30rem;
        margin-right: 4rem;
      }
      @media all and (max-width: 768px) {
        width: 22rem;
      }
    }
  }

  &__callback {
    order: 4;
    display: none;
    width: 4rem;
    height: 4rem;

    &-button {
      position: relative;
      text-align: center;
      width: 100%;
      height: 4rem;
      background: transparent;
      border: none;

      &::before, &::after {
        content: '';
        display: block;
        width: 2rem;
        height: .2rem;
        position: absolute;
        top: calc(50% - .1rem);
        left: calc(50% - 1rem);
        background: #333;
        transition: .2s;
        opacity: 0;
      }
      &::before {
        transform: scale(.5) rotate(45deg);
      }
      &::after {
        transform: scale(.5) rotate(-45deg);
      }

      &.btn--invert {
        path{
          fill: #333;
        }
      }

      &.btn--active {
        path {
          fill: transparent;
        }
        &::before {
          opacity: 1;
          transform: scale(1) rotate(45deg);
        }
        &::after {
          opacity: 1;
          transform: scale(1) rotate(-45deg);
        }
      }

    }

    @media all and (max-width: 640px) {
      display: flex;
    }

  }

  &__menu {
    order: 0;

    &-caller {
      display: flex;
      height: 4rem;
      align-items: center;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.2rem;
      text-transform: uppercase;
      color: white;
      cursor: pointer;

      @media all and (max-width: 576px) {
        font-size: 0;
        width: 4rem;
        justify-content: center;
      }

      &.caller--invert {
        color: #333;

        .menu-caller__icon {
          background: #333;
          &::before, &::after {
            background: #333;
          }
        }
      }

      &.caller--active {
        color: #333;

        .menu-caller__icon {
          background: transparent;
          &::before, &::after {
            top: .5rem;
            background: #333;
            width: 2rem;
          }

          &::before {
            transform: rotate(-45deg);
          }
          &::after {
            transform: rotate(45deg);
          }
        }

        &:hover {
          .menu-caller__icon {
            &::before {
              transform: rotate(-45deg);
            }
            &::after {
              transform: rotate(45deg);
            }
          }
        }
      }

      &:hover {
        .menu-caller__icon {
          &::after {
           transform: translateX(-.5rem);
          }

          &::before {
            transform: translateX(-.3rem);
          }
        }
      }

      .menu-caller__icon {
        position: relative;
        margin-right: 2rem;
        width: 2rem;
        height: .2rem;
        background: white;
        top: -.5rem;
        @media all and (max-width: 576px) {
          margin-right: 0;
        }

        &::before, &::after {
          content: '';
          display: block;
          height: .2rem;
          background: white;
          position: absolute;
          right: 0;
          transition: .2s;
        }
        &::before {
          width: 1.7rem;
          top: .6rem
        }
        &::after {
          top: 1.2rem;
          width: 1.5rem;
        }

      }
    }
  }
}
