@import "colors";

.main-screen {
  position: relative;
  margin-top: -8.7rem;
  padding: 8.7rem 0 6.8rem;
  background: $black-gradient;
  min-height: 72rem;

  @media all and (max-width: 1200px) {
    min-height: 64rem;
  }
  @media all and (max-width: 1024px) {
    min-height: 51rem;
  }
  @media all and (max-width: 992px) {
    min-height: 102.4rem;
    padding-bottom: 10.5rem;
  }
  @media all and (max-width: 720px) {
    min-height: unset;
  }
  @media all and (max-width: 576px) {
    margin-top: -6rem;
    padding: 6rem 0 9.5rem;
  }
  @media all and (max-width: 480px) {
    min-height: 56.8rem;
    padding: 6rem 0 7.5rem;
  }

  &--single-page {
    min-height: unset;
    padding-bottom: 8.5rem;
    overflow: hidden;

    @media all and (max-width: 1200px) {
      padding-bottom: 6.5rem;
      min-height: 51.1rem;
    }

    @media all and (max-width: 992px) {
      padding-bottom: 6rem;
      min-height: 102.4rem;
    }
    @media all and (max-width: 720px) {
      min-height: 56.8rem;
    }
    @media all and (max-width: 480px) {
      padding-bottom: 2rem;
    }
  }

  &--img-left {

    @media all and (max-width: 992px) {
      min-height: 94.3rem;
    }
    @media all and (max-width: 720px) {
      min-height: 55rem;
    }

    .main-screen__content-info {
      @media all and (min-width: 1200px) {
        width: 62rem;
      }
      @media all and (min-width: 992px) {
        min-width: 46rem;
        order: 2;
        margin-right: 0;
        margin-left: 10rem;
      }


      .main-screen__content-title {
          max-width: 46rem;
        @media all and (max-width: 1200px) and (min-width: 992px) {
          max-width: 34rem;
          margin-top: 5rem;
          font-size: 4rem;
          line-height: 4.8rem;
        }
        @media all and (max-width: 992px) {
          max-width: unset;
        }
        @media all and (max-width: 375px) {
          max-width: 28rem;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .main-screen__content-desc {
        @media all and (max-width: 576px) {
          margin-top: 4rem;
        }
      }
    }
    .main-screen__content-img-wrapper {
      order: 1;

      .main-screen__content-img {
        @media all and (max-width: 992px) {
          margin-top: 4rem;
        }
        @media all and (max-width: 480px) {
          margin-top: 0;
        }
      }
    }
  }

  &--projects {
    @media all and (max-width: 992px) {
      min-height: 94.3rem;
    }
    @media all and (max-width: 720px) {
      min-height: 55rem;
    }
  }

  &--404-page {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 6.5rem;

    @media all and (max-width: 768px) {
      padding-bottom: 10rem;
    }
    @media all and (max-width: 576px) {
      padding-bottom: 3rem;
    }
  }

  &__main-slider {
    position: relative;
  }

  .main-slider__slide {
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }

  .slide__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: white;

    @media all and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
    @media all and (max-width: 480px) {
      min-height: 41.25rem;
    }

    &-info {
      position: relative;
      margin-top: 8rem;
      flex-basis: 54.3rem;
      margin-right: 1.6rem;
      z-index: 2;

      @media all and (max-width: 1200px) {
        flex-basis: 53.8rem;
        margin-right: 2rem;
      }

      @media all and (max-width: 1024px) {
        margin-top: 6rem;
      }

      @media all and (max-width: 992px) {
        flex-basis: unset;
        order: 2;
        margin-right: 0;
      }
      @media all and (max-width: 576px) {
        margin-top: 4rem;
      }
    }

    &-title {
      display: block;
      font-weight: 700;
      font-size: 6.4rem;
      line-height: 7.7rem;

      @media all and (max-width: 1200px) {
        font-size: 5rem;
        line-height: 6rem;
      }
      @media all and (max-width: 1024px) {
        font-size: 4rem;
        line-height: 4.8rem;
      }
      @media all and (max-width: 992px) {
        width: 100%;
        text-align: center;

        max-width: 50rem;
      }
    }

    &-desc {
      margin-top: 3rem;

      @media all and (max-width: 992px) {
        margin-top: 2rem;
        text-align: center;
      }

      @media all and (max-width: 576px) {
        margin-top: 3rem;
      }
    }

    &-img-wrapper {
      margin-top: 4.5rem;
      flex: 1;

      @media all and (max-width: 992px) {
        margin-top: 6rem;
      }
      @media all and (max-width: 480px) {
        margin-top: 0;
        opacity: .15;
        position: absolute;
        width: 50rem;
        height: 41.25rem;
        top: 2rem;
        left: calc(50% - 25rem);
        z-index: 1;

      }

    }

    &-img {
      max-width: 100%;

      @media all and (max-width: 992px) {
        max-width: 62rem;
      }
      @media all and (max-width: 768px) {
        width: 100%;
      }
      @media all and (max-width: 480px) {
        max-height: 100%;
        object-fit: contain;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: white;

    @media all and (max-width: 992px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    &-info {
      margin-right: 2rem;
      max-width: 62rem;
      min-width: 54rem;

      @media all and (max-width: 992px) {
        margin-right: 0;
        min-width: unset;
      }
    }

    &-title {
      margin-top: 8rem;
      display: block;
      max-width: 54rem;
      min-height: 10.7rem;
      font-weight: 700;
      font-size: 6.4rem;
      line-height: 7.7rem;

      @media all and (max-width: 1200px) {
        margin-top: 6rem;
        min-height: unset;
        font-size: 5rem;
        line-height: 6rem;
      }
      @media all and (max-width: 1024px) {
        font-size: 4rem;
        line-height: 4.8rem;
        max-width: 46rem;
      }
      @media all and (max-width: 992px) {
        max-width: unset;
        width: 100%;
        text-align: center;
      }

      &.title--projects {
        max-width: 28rem;
        @media all and (max-width: 1024px) {
          margin-top: 5rem;
        }
        @media all and (max-width: 992px) {
          max-width: unset;
        }
        @media all and (max-width: 375px) {
          max-width: 28rem;
          margin: 6rem auto 0
        }
      }
    }

    &-desc {
      max-width: 62rem;
      margin-top: 3rem;

      @media all and (max-width: 1200px) {
        margin-top: 4rem;
      }
      @media all and (max-width: 992px) {
        margin-top: 3rem;
        text-align: center;
      }

      &.content-desc--projects {
        @media all and (max-width: 1024px) {
          max-width: 46rem;
        }
        @media all and (max-width: 992px) {
          max-width: unset;
        }
      }

      &.content-desc--rare {
        @media all and (max-width: 576px) {
          line-height: 2.4rem;
        }
      }
    }

    &-img-wrapper {
      flex: 1;
      max-width: 54rem;
      min-width: 38rem;
      @media all and (max-width: 992px) {
        max-width: unset;
        width: 100%;
        text-align: center;
      }
    }

    &-img {
      margin-top: -3.2rem;
      vertical-align: top;
      width: 100%;

      @media all and (max-width: 1200px) {
        margin-top: -1.2rem;
      }

      @media all and (max-width: 992px) {
        max-width: 62rem;
        margin-top: 6rem;
      }
      @media all and (max-width: 480px) {
        margin-top: 0;
        position: absolute;
        top: -4.3rem;
        left: calc(50% - 26.25rem);
        width: 52.5rem;
        opacity: .1;
      }
    }


  }

  &__404-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    max-height: 80rem;
    &-img {
      vertical-align: top;
      max-width: 100%;

      @media all and (max-width: 1200px) {
        margin-top: -1rem;
      }
      @media all and (max-width: 1024px) {
        max-width: 76.8rem;
      }
      @media all and (max-width: 768px) {
        max-width: 100%;
        margin-top: 0;
      }
      @media all and (max-width: 400px) {
        max-width: 40rem;
      }


    }

    &-desc {
      max-width: 62rem;
      margin-top: 8rem;
      text-align: center;
      color: white;

      @media all and (max-width: 1200px) {
        margin-top: 7.5rem;
      }
      @media all and (max-width: 576px) {
        margin-top: 6rem;
        padding: 0 1rem;
      }
    }

    &-link {
      margin-top: 4rem;
      min-width: 30rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.main-slider__slider-nav {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 8rem;
  color: white;

  @media all and (max-width: 1200px) {
    bottom: 7rem;
  }

  @media all and (max-width: 992px) {
    bottom: 4.5rem;
  }

  .slider-nav__inner {
    display: flex;
    align-items: center;

    @media all and (max-width: 992px) {
      justify-content: center;
    }
  }

  .slider-nav__button {
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 0;

    &::before {
      content: '';
      display: block;
      width: .6rem;
      height: .8rem;
      position: absolute;
      top: calc(50% - .4rem);
      left: calc(50% - .3rem);
      background: url('../img/slider-prev-arrow.svg');
    }

    &.button--next {
      &::before {
        transform: rotate(180deg);
      }
    }

  }

  .slider-nav__timeline {
    margin: 0 4.8rem;
    display: flex;
    align-items: center;

    .timeline__item {
      position: relative;
      margin: 0 1rem 0 0;
      font-size: 1.1rem;
      line-height: 2rem;
      opacity: .5;
      cursor: pointer;
      transition: .2s;
      overflow: hidden;

      &::before, &::after {
        content: '';
        display: none;
        width: 3rem;
        height: .1rem;
        position: absolute;
        top: calc(50% - .1rem);
        right: 0;
        background: #CBCCCE;
      }

      &:after {
        background: #97999D;
        width: 3rem;
        animation: sliderTimeline 3.5s linear alternate;
      }

      &.item--current {
        opacity: 1;
        padding-right: 4rem;

        &::before, &::after {
          display: block;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@keyframes sliderTimeline {
  from {
    transform: translateX(0);
  }
  to {
   transform: translateX(100%);
  }
}
