@import "colors";

.map-block {

  &__contacts {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    grid-gap: 2rem;

    @media all and (max-width: 1024px) {
      grid-template: auto / repeat(2, 1fr);
    }
    @media all and (max-width: 480px) {
      grid-template: auto / 1fr;
    }

    &-item {
      order: 1;

      &:nth-of-type(2), &:nth-of-type(3) {
        @media all and (max-width: 1024px) {
          order: 2;
        }
        @media all and (max-width: 480px) {
          order: 1;
        }
      }

      &-link {
        display: flex;
        height: 5.6rem;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        color: #333;
        border: 1px solid #BDBDBD;

        &:hover {
          background: rgba(0,0,0,.1);
        }
      }

      &-button {
        width: 100%;
      }
    }
  }

  &__ymap {
    position: relative;
    margin-top: 8rem;

    .ymap {

      &__map {
        height: 40rem;
      }

      &__float-contacts {
        position: absolute;
        top: 4rem;
        left: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30rem;
        padding: 3rem;
        background: white;
        box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.08);
        color: $text-gray;

        @media all and (max-width: 576px) {
          width: unset;
          top: 1rem;
          left: 1rem;
          right: 1rem;
          align-items: center;
          text-align: center;
        }

        &-address {
          margin-top: 2rem;
        }

        .text-select {
          display: block;
          font-weight: 600;
          color: #333;
          margin-bottom: .5rem;
        }
      }
    }
  }
}
