@import "colors";

.main-menu {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 8rem;

  @media all and (max-width: 1260px) {
    flex-wrap: wrap;
  }

  @media all and (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 6rem;
  }


  &.menu--footer {

    @media all and (max-width: 576px) {
      margin-top: 0;
      flex-direction: row;
      align-items: unset;
      text-align: left;
    }

    @media all and (max-width: 480px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .main-menu__list {
      @media all and (max-width: 480px) {
        width: 100%;
      }

      & + .main-menu__list {
        @media all and (max-width: 480px) {
          margin-top: 8rem;
        }
      }

      &.list--projects {
        .main-menu__item {
          .item__link {
            &.link--main {
              @media all and (max-width: 576px) {
                margin-bottom: 4rem;
              }
            }
          }
        }
      }

      &.list--main {

        @media all and (max-width: 576px) {
          margin-top: 6rem;
          align-items: flex-start;
        }

        .main-menu__social {

          @media all and (max-width: 576px) {
            margin-top: 4.5rem;
          }

          @media all and (max-width: 480px) {
            display: none;
          }
        }
      }

    }

    .main-menu__item {

      @media all and (max-width: 480px) {
        width: 100%;
        text-align: center;
      }

      .item__link {

        @media all and (max-width: 576px) {
          display: inline-block;
        }
        color: white;
        opacity: .8;

        &:hover {
          opacity: 1;
        }

        &.link--main {

          @media all and (max-width: 576px) {
            margin-bottom: 4rem;
          }
          opacity: 1;
        }
      }
    }
    .main-menu__social {

      .social__link {
        &:hover {
          path {
            fill: white;
          }
        }
      }
    }

    .main-menu__list-buttons {

      @media all and (max-width: 576px) {
        display: flex;
        max-width: 26rem;
      }
      @media all and (max-width: 480px) {
        margin-top: 3rem;
      }
      @media all and (max-width: 320px) {
        max-width: unset;
        width: 100%;
      }

      .main-menu__contact-link {
        color: white;
        border: .1rem solid $text-dark-gray;
        border-top: none;

        @media all and (max-width: 1260px) and (min-width: 992px) {
          border-top: .1rem solid $text-dark-gray;
        }

        &:hover {
          @media all and (min-width: 576px) {
            background: rgba(255, 255, 255, 0.1);
          }
        }

        &:active {
          @media all and (max-width: 576px) {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }

      .main-menu__social {
        display: none;

        @media all and (max-width: 480px) {
          margin-top: 6rem;
          display: block;
        }
      }

      .main-menu__file {
        text-align: left;
        @media all and (max-width: 480px) {
          margin-top: 4rem;
        }

        &-link {
          color: white;
          &::before {
            background: url('../img/show-more-arrow.svg') center center no-repeat;
          }
        }

        &-info {
          color: white;
        }
      }
    }

  }

  &__list + &__list{
    margin-left: 2rem;

    @media all and (max-width: 992px) {
      margin-left: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 30rem;
    justify-content: space-between;

    @media all and (max-width: 992px) {
      flex-basis: 50%;
      margin-left: 0;
    }

    &.list--projects {
      .main-menu__item {
        .item__link {
          line-height: 2.3rem;
          margin-bottom: 2.4rem;

          &.link--main {
            line-height: 3rem;
            margin-bottom: 4rem;

            @media all and (max-width: 576px) {
              margin-bottom: 3rem;
            }
          }
        }
        &:last-child {
          .item__link {
            margin-bottom: 0;
          }
        }
      }
    }

    &.list--main {
      max-width: 22rem;
      margin-left: auto;

      @media all and (max-width: 992px) {
        margin-top: 6rem;
        margin-left: 0;
        max-width: unset;
      }
      @media all and (max-width: 768px) {
        flex: 1;
      }
      @media all and (max-width: 576px) {
        margin-top: 0;
        align-items: center;
      }

      .main-menu__social {
        @media all and (max-width: 576px) {
          margin-top: 2rem;
        }
      }

      .main-menu__item {
        .item__link {
          &.link--main {
            margin-bottom: 3rem;
          }
        }
      }
    }
  }

  &__item {
    .item__link {
      display: inline-block;
      color: rgba(51, 51, 51, 0.8);
      line-height: 3rem;
      transition: .15s;
      margin-bottom: 1.4rem;

      @media all and (max-width: 576px) {
        display: none;
      }

      &:hover {
        color: rgba(51, 51, 51, 1);
      }

      &.link--main {
        position: relative;
        margin-bottom: 4rem;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 3rem;
        text-transform: uppercase;
        color: $text-dark-gray;
        opacity: 1;
        z-index: 2;

        @media all and (max-width: 576px) {
          margin-bottom: 3rem;
          display: inline-block;
        }

        &::after {
          content: '';
          display: block;
          width: 0;
          height: .5rem;
          position: absolute;
          bottom: .5rem;
          left: 0;
          background: linear-gradient(0deg, rgba(169, 46, 53, 0.7) -0.01%, rgba(210, 49, 59, 0.7) 99.98%);
          z-index: -1;
          transition: .15s;

          @media all and (max-width: 1024px) {
            width: 100%;
          }
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }

    &:last-child {
      .item__link {
        margin-bottom: 0;
      }
    }
  }

  &__social{
    margin-top: 4.3rem;

    .social__link {
      &:hover {
        path {
          fill: #333;
        }
      }
    }

    .social__link + .social__link {
      margin-left: 2rem;
    }
  }

  &__list-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2rem;
    width: 30rem;

    @media all and (max-width: 1260px) and (min-width: 992px){
      width: 100%;
      margin: 6.6rem 0 0 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media all and (max-width: 992px) {
      margin-top: 6rem;
      margin-left: 0;
    }
    @media all and (max-width: 576px) {
      display: none;
    }


    .main-menu__order-button {
      width: 100%;

      @media all and (max-width: 1260px) and (min-width: 992px) {
        margin: 0 2rem;
        order: 2;
        flex: 1;
      }
    }

    .main-menu__contact-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5.6rem;
      font-weight: 500;
      font-size: 1.7rem;
      line-height: 2rem;
      color: #333;
      border: .1rem solid #BDBDBD;
      border-top: none;
      transition: .15s;

      @media all and (max-width: 1260px) and (min-width: 992px) {
        flex: 1;
        border-top: .1rem solid #BDBDBD;
      }

      &:hover {
        @media all and (min-width: 576px) {
          background: rgba(0, 0, 0, 0.1);
        }
      }

      &:nth-of-type(1) {
        @media all and (max-width: 1260px) and (min-width: 992px) {
          order: 1;
        }
      }
      &:nth-of-type(2) {
        @media all and (max-width: 1260px) and (min-width: 992px) {
          order: 3;
        }
      }
    }

    .main-menu__file-wrapper {
      margin-top: auto;
      @media all and (max-width: 1260px) and (min-width: 992px) {
        order: 4;
        margin-top: 4rem;
        width: 100%;
      }
    }

    .main-menu__file {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: $text-gray;
      max-width: 30rem;

      @media all and (max-width: 1260px) and (min-width: 992px) {
        margin: 0 auto;
      }

      &-info {
        text-transform: uppercase;
      }

      &-link {
        position: relative;
        font-weight: 700;
        font-size: 1.7rem;
        line-height: 2rem;
        color: $text-dark-gray;

        &:hover {
          &::after {
            background: $red-gradient-active;
          }
          &::before {
            transform: translateX(1rem);
          }
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 4rem;
          top: calc(50% - 2rem);
          right: 0;
          height: 4rem;
          background: $red-gradient;
          border-radius: 50%;
          z-index: 1;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 4.2rem;
          top: calc(50% - .8rem);
          right: 2rem;
          height: 1.6rem;
          background: url('../img/show-more-arrow-black.svg') center center no-repeat;
          z-index: 2;
          transition: .2s;
        }
      }
    }
  }
}
