@import "colors";

.modal-menu {
  display: none;
  padding-top: 8rem;
  position: fixed;
  top: 8.6rem;
  left: 0;
  width: 100%;
  background: white;
  z-index: 9;
  transform: translate(0, calc(-100% - 8.7rem));
  transition: transform .12s ease-in;


  @media all and (max-width: 1024px) {
    height: calc(100vh - 8.6rem);
    overflow: auto;
  }
  @media all and (max-width: 640px) {
    transform: translate(-100%, 0);
    padding-top: 6rem;
  }
  @media all and (max-width: 640px) {
    height: calc(100vh - 6rem);
    top: 6rem;
  }

  &.menu--active {
    transform: translate(0, 0);
    max-height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
  }
}

.modal-contacts-menu {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 6rem);
  top: 8.6rem;
  background: white;
  padding: 5rem 2rem 2rem;
  text-align: center;
  transform: translateY(calc(-100% - 8.7rem));
  transition: .12s ease-in;
  z-index: 9;

  @media all and (max-width: 640px) {
    top: 6rem;
    padding: 5rem 1rem 6rem;
    transform: translate(100%, 0);
  }

  &.menu--active {
    transform: translateY(0);
    height: calc(100% - 6rem);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
  }

  &__list {
    width: 30rem;
    margin: 0 auto;

    .list__item  {
      margin-bottom: 3rem;

      &.item--file {
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: $text-gray;
      }

      &-button {
        width: 100%;
      }

      &-link {
        height: 5.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .1rem solid #BDBDBD;
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 2rem;
        color: #333;



        &.link--file {
          position: relative;
          height: unset;
          border: none;
          justify-content: flex-start;
          font-weight: 700;

          &:hover {
            color: inherit;
            &::after {
              background: $red-gradient-active;
            }
          }

          &::after {
            content: '';
            display: block;
            position: absolute;
            width: 4rem;
            top: calc(50% - 2rem);
            right: 0;
            height: 4rem;
            background: $red-gradient;
            border-radius: 50%;
            z-index: 1;
          }

          &::before {
            content: '';
            display: block;
            position: absolute;
            width: 4.2rem;
            top: calc(50% - .8rem);
            right: 2rem;
            height: 1.6rem;
            background: url('../img/show-more-arrow-black.svg') center center no-repeat;
            z-index: 2;
          }
        }
      }

      &-file-info {
        text-align: left;
      }
    }
  }
}

.popover-cookies {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  border-top: .1rem solid #CFCFCF;
  z-index: 15;
  transform: translateY(9rem);
  transition: .3s;

  @media all and (max-width: 576px) {
    transform: translateY(11rem);
  }

  &.active {
    transform: translateY(0);
  }

  &__content {
    display: flex;
    height: 9rem;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: 576px) {
      height: 10.9rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: $title-black;

    &-link {
      color: $title-black;
      white-space: nowrap;
      text-decoration: underline;

      &:hover {
        color: $title-black;
      }
    }
  }

  &__button-agree {
    background: transparent;
    width: 22rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1rem solid #BDBDBD;
    border-radius: 0;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2rem;
    color: $title-black;
    cursor: pointer;

    @media all and (max-width: 920px) {
      display: none;
    }

    &:hover {
      background: transparent;
      color: $title-black;
    }
  }

  &__button-wrapper {
    display: flex;
    align-items: center;

    @media all and (max-width: 576px) {
      align-self: flex-start;
      margin-top: 1rem;
    }
  }

  &__button-close {
    position: relative;
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 0;
    margin:0 -1rem 0 5.2rem;
    cursor: pointer;

    @media all and (max-width: 920px) {
      margin-left:  4rem;
    }
    @media all and (max-width: 360px) {
      margin-left:  2rem;
    }

    &::before , &::after {
      content: '';
      display: block;
      width: 2rem;
      height: .2rem;
      background: #E0E0E0;
      position: absolute;
      top: calc(50% - .1rem);
      left: 0;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
}

.modal {
  overflow: unset;
  display: none;
  padding: 4rem 8rem;

  @media all and (max-width: 576px) {
    padding: 4rem 2rem;
  }

  @media all and (max-width: 375px) {
    vertical-align: top;
  }


  &__header-img {
    max-width: 100%;
    text-align: center;
    vertical-align: top;
    margin-bottom: 4rem;

    @media all and (max-width: 375px) {
      max-width: unset;
      width: calc(100% + 4rem);
      margin-left: -2rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    color: $text-dark-gray;
  }

  &__desc {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: $text-dark-gray;

    @media all and (max-width: 375px) {
      margin-top: 2rem;
    }
  }

  &__form {
    margin: 4rem auto 0;

    &-input-inline {
      display: flex;
      justify-content: space-between;

      @media all and (max-width: 640px) {
        flex-direction: column;
      }
    }

    &-input-wrapper {
      width: 22rem;
      margin-bottom: 2.4rem;

      @media all and (max-width: 640px) {
        width: 100%;
      }
    }
  }

  .fancybox-close-small {
    top: -1.5rem;
    right: -4.4rem;
    padding: .7rem;
    opacity: 1;

    @media all and (max-width: 576px) {
      top: 0;
      right: 0;
    }
    path {
      fill: #E0E0E0;
    }
  }

  //========== other modals =============

  &.modal--callback {
    width: 46rem;

    .modal__form {
      max-width: 30rem;
    }
  }

  &.modal--thanks {
    width: 62rem;
    padding: 6rem 8rem;

    @media all and (max-width: 576px) {
      padding: 5rem 2rem 4rem;
      text-align: center;
    }

    .modal__title {
      margin: 0 auto;
    }
    .modal__desc {
      text-align: center;
    }

    .modal__content {
      display: none;

      &#thanks-review, &#thanks-vacancy {
        @media all and (max-width: 576px) {
          margin-bottom: 2rem;
        }
      }
    }

    .modal__home-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5.6rem;
      width: 100%;
      margin-top: 4rem;
    }
  }

  &.modal--project {
    width: 62rem;

    .fancybox-close-small {

      @media all and (max-width: 720px) {
        top: 0;
        right: 0;
      }
    }
  }

  &.modal--privacy, &.modal--cookies {
    max-width: 78rem;
    padding: 8rem;

    @media all and (max-width: 992px) {
      max-width: 62rem;
    }
    @media all and (max-width: 720px) {
      padding: 6rem 4rem;
    }
    @media all and (max-width: 576px) {
      max-width: 100%;
      padding: 4rem 2rem;
    }

    .modal__title {
      text-align: left;
    }

    .modal__privacy-text, .modal__cookies-text {
      margin-top: 6rem;

      @media all and (max-width: 576px) {
        margin-top: 4rem;
      }

      p + p{
        margin-top: 3rem;
        color: $text-dark-gray;
      }
    }

    .fancybox-close-small {
      @media all and (max-width: 720px) {
        top: 0;
        right: 0;
      }
      path {
        fill: #E0E0E0;
      }
    }
  }

  &.modal--vacancy {
    width: 78rem;
    padding: 8rem;

    @media all and (max-width: 930px) {
      max-width: 62rem;
    }
    @media all and (max-width: 720px) {
      padding: 6rem 4rem;
    }
    @media all and (max-width: 640px) {
      width: 100%;
    }
    @media all and (max-width: 576px) {
      padding: 4rem 2rem;
    }
    @media all and (max-width: 375px) {
      padding: 4rem 1rem;
    }

    .modal__title {
      text-align: left;

      @media all and (max-width: 375px) {
        margin-left: 1rem;
      }
    }

    .modal__vacancy-info {
      margin-top: 6rem;
      display: grid;
      grid-template: auto / repeat(2, 1fr);
      grid-gap: 2rem;

      @media all and (max-width: 480px) {
        margin-top: 3rem;
        grid-template: auto / 1fr;
        grid-gap: 1rem;
      }

      .vacancy-info__item {
        border: 1px solid #E0E0E0;
        padding: 3rem;

        @media all and (max-width: 930px) {
          padding: 2rem;
        }

        &.item--desc {
          grid-column: span 2;

          @media all and (max-width: 480px) {
            margin-top: 1rem;
            grid-column: unset;
          }
        }

        .vacancy-info__title {
          display: block;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.2rem;
          color: $text-dark-gray;
        }

        .vacancy-info__value {
          display: inline-block;
          margin-top: 1rem;
        }

        ul {
          margin: 1rem 0 3rem;
          line-height: 2.3rem;

          &:last-of-type {
            margin-bottom: 0;
          }

          li {
            &::before {
              content: '- ';
            }
          }
        }
      }
    }
  }

  .fancybox-close-small {
      @media all and (max-width: 720px) {
        top: 0;
        right: 0;
      }
      path {
        fill: #E0E0E0;
      }
    }
}

.fancybox-container {

  .fancybox-slide {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

  }

  .fancybox-bg {
     background: rgba(79, 79, 79, 0.7);
   }

  .fancybox-slide--html {
    padding: 1rem;
  }
}






