@import "colors";

.projects-block {
  background: $black-gradient;
  overflow: hidden;

  &--single-page {
    background: $bg-light-gray;
  }

  &.block--case {
    background: white;
    padding: 10rem 0;

    @media all and (max-width: 1024px) {
      padding: 8rem 0;
    }

    .block__title {
      color: $title-black;

      @media all and (max-width: 1024px) {
        font-size: 3.2rem;
      }
    }

    .projects-block__slider {
      margin-top: 5rem;

      @media all and (max-width: 1024px) {
        margin-top: 3rem;
      }
      @media all and (max-width: 576px) {
        margin-top: 1rem;
      }
    }

    .slick-list {
      padding: 3rem 0;
    }

    .projects-block__slide {
      box-shadow: 0 1rem 1.1rem rgba(0, 0, 0, 0.15);
    }

    .projects-block__slider-nav {
      margin-top: 1rem;

      .slider-nav__button {
        background: #E0E0E0;
        &::before {
          background: url(../img/slider-prev-arrow-black.svg);
        }

        &:hover {
          @media all and (min-width: 768px) {
            background: #c5c5c5;
          }
        }
        &:active {
          background: #c5c5c5;
        }
      }
    }

    .slider-nav__all-projects {
      color: $title-black;

      &::before {
        background: url(../img/show-more-arrow-black.svg) center center no-repeat;
      }
      &::after {
        background: #E0E0E0;
      }

      &:hover {
        &::after {
          background: #E0E0E0;
          @media all and (min-width: 768px) {
            background: #c5c5c5;
          }
        }
      }
      &:active {
        &::after {
          background: #c5c5c5;
        }
      }
    }
  }

  .block__title {
    color: white;
  }

  &__project-list {
    position: relative;
    margin-top: 8rem;
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    grid-gap: 2rem;
    z-index: 2;

    @media all and (max-width: 1200px) and (min-width: 992px){
      grid-template: auto / repeat(3, 1fr);
    }
    @media all and (max-width: 992px) {
      max-width: 72rem;
      margin: 7rem auto 0;
      grid-template: auto / 1fr;
    }
  }

  &__project-item {
    overflow: hidden;
    position: relative;
    display: none;
    transform: scaleY(0);
    transform-origin: 0 0;
    min-height: 41rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    background: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
    transition: transform .2s;

    @media all and (max-width: 1200px) and (min-width: 992px) {
      grid-column: span 2;
    }
    @media all and (max-width: 480px) {
      padding: 2rem 2rem 3rem;
    }

    &.item--visible {
      display: flex;
      transform: scaleY(1);

      &.item--small {
        @media all and (max-width: 1200px) and (min-width: 992px) {
          grid-column: span 1;
          padding: 2rem;
         // outline: 2rem solid rgba(62, 168, 105, 0.3);
          outline-offset: -3rem;
        }

        .project-item__img-wrapper {

          @media all and (max-width: 1200px) and (min-width: 992px){
            max-height: 26rem;
            max-width: 14rem;
          }

          &::before {
            @media all and (max-width: 1200px) and (min-width: 992px){
              width: 28rem;
              height: 28rem;
              right: -14rem;
              top: unset;
              bottom: -2rem;
            }
          }
        }

        .project-item__img {
          @media all and (max-width: 1200px) and (min-width: 992px){
            max-width: 14rem;
          }
        }

        &.project-item--last {
          .project-item__img-wrapper {
            @media all and (max-width: 1200px) and (min-width: 992px) {
              max-width: 22rem;
            }
          }
        }
      }
    }

    &.project-item--sadko {
      .project-item__img-wrapper {
        &::before {
          background: #2eccc0;
        }
      }
    }
    &.project-item--philips {
      .project-item__img-wrapper {
        &::before {
          background: #5688B1;
        }
      }
    }
    &.project-item--secco {
      .project-item__img-wrapper {
        &::before {
          background: #646986;
        }
      }
    }
    &.project-item--nipt {
      .project-item__img-wrapper {
        &::before {
          background: #084060;
        }
      }
    }
    &.project-item--last {
      display: none;
      background: $black-gradient;

      @media all and (max-width: 1200px) and (min-width: 992px){
        justify-content: flex-start;
      }

      &.item--visible {
        display: flex;
        transform: scaleY(1);
        @media all and (max-width: 992px) {
          display: none;
        }
      }

      .project-item__title {
        color: white;
      }
      .project-item__works-list {
        color: rgba(255, 255, 255, 0.5);

        @media all and (max-width: 1200px) {
          margin-top: 3rem;
        }

        .works-list__item {
          max-width: 12rem;

          .works-list__link {
            @media all and (max-width: 1200px) {
              display: block;
              margin-top: 21rem;
            }
          }
          path {
            fill: white;
          }
        }
      }
      .project-item__img-wrapper {
        max-height: 23.7rem;

        .project-item__img {
         max-width: unset;

          @media all and (max-width: 1200px) {
            max-width: 100%;
          }
        }
      }
    }
    &.project-item--first {
      display: none;
    }
  }

  .project-item {
    &__title {
      display: inline-block;
      max-width: 26rem;
      font-weight: 700;
      font-size: 24px;
      line-height: 2.9rem;

      &-link {
        color: $text-dark-gray;

        &:hover {
          color: $text-dark-gray;
        }
      }
    }

    &__works-list {
      max-width: 12rem;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: rgba(79, 79, 79, 0.7);

      .works-list__item {
        margin-bottom: .6rem;

        &:last-of-type {
          margin-top: 4.2rem;
          margin-bottom: 0;
        }
      }

      .works-list__link {
        path {
          fill: #333;
        }
      }
    }

    &__img-wrapper {
      position: absolute;
      display: flex;
      align-items: flex-end;
      bottom: -.1rem;
      right: 0;
      height: 100%;

      @media all and (max-width: 576px) {
        max-height: 26rem;
        max-width: 14rem;
      }

      &::before {
        content: '';
        display: block;
        width: 44rem;
        height: 44rem;
        position: absolute;
        right: -22rem;
        top: .5rem;
        border-radius: 50%;
        z-index: 1;

        @media all and (max-width: 576px) {
          width: 28rem;
          height: 28rem;
          right: -14rem;
          top: unset;
          bottom: -2rem;
        }
      }
    }
    &__img {
      max-width: 22rem;
      position: relative;
      vertical-align: top;
      z-index: 2;

      @media all and (max-width: 576px) {
         max-width: 14rem;
      }
    }
  }

  &__filter {
    @media all and (max-width: 1200px) {
      margin-top: 6rem;

    }
    @media all and (max-width: 992px) {
      width: -moz-available;
      width: -webkit-fill-available;
      width: fill-available;
      overflow-x: scroll;
      padding-bottom: 1rem;
    }

    &.filter--light {
      margin-top: 0;

      @media all and (max-width: 992px) {
        padding-bottom: 1rem;
      }
      .filter-item__link {
        &:hover {
          color: #333;
        }

        &.link--active {
          &:hover {
            color: white;
          }
        }
      }
    }
  }

  &__filter-list {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
  }

  &__filter-item {

    .filter-item__link {
      white-space: nowrap;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.2rem;
      display: inline-block;
      color: $text-gray;
      padding: .9rem 2.4rem;
      border: none;
      background: none;
      border-radius: 10rem;
      cursor: pointer;

      &.link--active {
        background: $red-gradient;
        color: white;
      }

      &:hover {
        color: white;
      }

    }
  }

  &__show-more {
    margin-top: 8rem;
    text-align: center;

    &-button {
      position: relative;
      background: none;
      border: none;
      font-weight: 700;
      font-size: 1.7rem;
      line-height: 2rem;
      text-align: center;
      color: #333;
      padding: 0 2rem 9rem;
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: calc(50% - 2rem);
        bottom: 0;
        background: #E0E0E0;
        border-radius: 50%;
        z-index: 1;
      }
      &::before {
        content: '';
        display: block;
        width: 4.2rem;
        height: 1.6rem;
        position: absolute;
        bottom: 3rem;
        left: calc(50% - 2.1rem);
        transform: rotate(90deg);
        background: url('../img/show-more-arrow-black.svg') center center no-repeat;
        z-index: 2;
      }

      &:disabled {
        opacity: .5;
      }
    }
  }

  &__slider {
    position: relative;
    margin-top: 8rem;
    z-index: 2;

    @media all and (max-width: 1200px) {
      max-width: 94rem;
      margin: 7rem auto 0;
    }
    @media all and (max-width: 992px) {
      max-width: 62rem;
      margin: 5rem auto 0;
    }
    @media all and (max-width: 680px) {
      max-width: 30rem;
    }
  }

  .slick-list {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  &__slide {
    max-width: 30rem;
    height: 41rem;
    margin: 0 1rem;

    &:focus {
      outline: none;
    }
    &.slide--sadko {
      .slide__item {

        &:hover {
          .item-content__img-wrapper {
            &::before {
              background: #29BBB1;
            }
          }
        }

       .item-content__img-wrapper {

         .img-wrapper__bg {
           background: #29BBB1;
         }

       }
      }
    }
    &.slide--nipt {
      .slide__item {

        &:hover {
          .item-content__img-wrapper {
            &::before {
              background: #084060;
            }
          }
        }

       .item-content__img-wrapper {

         .img-wrapper__bg {
           background: #084060;
         }

       }
      }
    }
    &.slide--philips {
      .slide__item {

        &:hover {
          .item-content__img-wrapper {
            &::before {
              background: #5789B2;
            }
          }
        }

       .item-content__img-wrapper {

         .img-wrapper__bg {
           background: #5789B2;
         }

       }
      }
    }
    &.slide--secco {
      .slide__item {

        &:hover {
          .item-content__img-wrapper {
            &::before {
              background: #646986;
            }
          }
        }

       .item-content__img-wrapper {

         .img-wrapper__bg {
           background: #646986;
         }

       }
      }
    }
  }

  .slide__item {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 2rem 0;
    background: white;
    overflow: hidden;

    &:hover {
      .slide__item-title {
        color: white;
      }

      .item-content__works-list {
        .works-list__item {
          color: rgba(255, 255, 255, .5);
        }
        .works-list__arrow-next {
          path {
            fill: white;
          }
        }
      }

      .item-content__img-wrapper {

        &::before {
          background: #5DB036;
          transform: scale(4);
        }
        .img-wrapper__bg {
          &::before {
            display: block;
          }
        }
      }
    }

    &-link {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0;
      opacity: 0;
      z-index: 2;
    }

    &-title {
      position: relative;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 2.9rem;
      transition: .3s;
      z-index: 2;
    }

    &-content {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
    }

    .item-content__img-wrapper {
      position: relative;
      height: 26rem;
      max-width: 14rem;
      display: flex;
      align-items: flex-end;
      margin-right: -2rem;

      &::before {
        content: '';
        position: absolute;
        top: 1.4rem;
        left: 1rem;
        display: block;
        width: 26rem;
        height: 26rem;
        background: transparent;
        border-radius: 50%;
        transition: transform .25s ease-in;
      }

      .img-wrapper__img {
        position: relative;
        vertical-align: top;
        margin-top: auto;
        width: 100%;
        z-index: 2;
      }

      .img-wrapper__bg {
        position: absolute;
        top: .4rem;
        left: 0;
        width: 28rem;
        height: 28rem;
        background: #5DB036;
        border-radius: 50%;
        transition: .1s;

        &::before {
          content: '';
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: rgba(0, 0, 0, .24);
          border-radius: 50%;
          opacity: .5;
        }
      }
    }

    .item-content__works-list {
      position: relative;
      align-self: flex-end;
      padding-bottom: 3.2rem;
      z-index: 2;

      .works-list__item {
        max-width: 12rem;
        margin-bottom: .6rem;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: rgba(79, 79, 79, 0.7);
        transition: .3s;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .works-list__arrow-next {
        display: block;
        margin-top: 4.2rem;
        transition: .3s;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__slider-nav {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: 1200px) {
      max-width: 94rem;
      margin: 4rem auto 0;
    }
    @media all and (max-width: 992px) {
      max-width: 62rem;
      margin: 4rem auto 0;
    }
    @media all and (max-width: 576px) {
      justify-content: center;
    }

    .slider-nav__inner {
      display: flex;
      align-items: center;

      @media all and (max-width: 576px) {
        display: none;
      }
    }

    .slider-nav__button {
      position: relative;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      font-size: 0;
      margin-right: 6rem;

      &::before {
        content: '';
        display: block;
        width: .6rem;
        height: .8rem;
        position: absolute;
        top: calc(50% - .4rem);
        left: calc(50% - .3rem);
        background: url('../img/slider-prev-arrow.svg');
      }

      &.button--next {
        &::before {
          transform: rotate(180deg);
        }
      }
    }

    .slider-nav__all-projects {
      position: relative;
      display: block;
      width: 30rem;
      padding: 1rem 11rem 1rem 0;
      font-weight: 700;
      font-size: 1.7rem;
      line-height: 2rem;
      color: white;

      &:hover {
        &::after {
          background: $red-gradient-active;
        }
        &::before {
          transform: translateX(1rem);
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 4rem;
        top: calc(50% - 2rem);
        right: 0;
        height: 4rem;
        background: $red-gradient;
        border-radius: 50%;
        z-index: 1;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 4.2rem;
        top: calc(50% - .8rem);
        right: 2rem;
        height: 1.6rem;
        background: url('../img/show-more-arrow.svg') center center no-repeat;
        z-index: 2;
        transition: .2s;
      }

    }
  }
}
