@import "colors";

.resume-block {

  .block__title {
    @media all and (max-width: 768px) {
      font-size: 3.2rem;
      line-height: 3.8rem;
    }
  }

  .block__desc {
    max-width: 30rem;

    @media all and (max-width: 1200px) {
      max-width: unset;
    }

    .text-nowrap {
      @media all and (max-width: 576px) {
        white-space: pre-wrap;
      }
    }
  }

  &__resume-form {
    position: relative;
    margin-top: 8rem;
    max-width: 102rem;
    margin-left: 8rem;
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    grid-column-gap: 10rem;
    z-index: 2;

    @media all and (max-width: 1184px) {
     margin-left: auto;
    }
    @media all and (max-width: 1104px) {
      grid-template: auto / 1fr 46rem;
    }
    @media all and (max-width: 992px) {
      grid-column-gap: 5rem;
    }
    @media all and (max-width: 900px) {
      grid-template: auto / 30rem 1fr;
    }
    @media all and (max-width:768px) {
      grid-template: auto / 1fr;
      grid-row-gap: 2.4rem;
    }
    @media all and (max-width: 576px) {
      margin-top: 6rem;
    }

    .resume-form__left-block, .resume-form__right-block {

      .resume-form__input-inline {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.4rem;

        @media all and (max-width: 768px) and (min-width: 480px){
          flex-direction: row;
        }

      }

      .resume-form__input-wrapper + .resume-form__input-wrapper {
        margin-top: 2.4rem;

        @media all and (max-width: 768px) and (min-width: 480px){
          margin-top: 0;
          margin-left: 2rem;
        }
      }

      .resume-form__input-wrapper {
          flex: 1;
      }
    }

    .resume-form__right-block {
      margin-left: 0;
    }

    .resume-form__tab-panel {
      display: flex;

      .tab-panel__button {
        margin-top: 1.8rem;
        flex: 1;
        display: flex;
        height: 3.6rem;
        align-items: center;
        justify-content: center;
        border: 1px solid #BDBDBD;
        background: white;
        cursor: pointer;

        &.button--active {
          background: $black-gradient;
          color: white;
          border: none;
        }
      }
    }

    .resume-form__tab {
      display: none;
      min-height: 7.5rem;

      @media all and (max-width: 768px) {
        min-height: 6rem;
      }

      &.tab--active {
        display: block;
      }
    }

    .form__privacy-text {
      margin-top: 1.6rem;

      @media all and (max-width: 576px) {
        margin-top: 1rem;
      }
    }
  }
}


