@import "colors";

.reviews-block {
  background: $bg-light-gray;

  .reviews-list__review + .reviews-list__review {
    margin-top: 3rem;
  }

  .reviews-list__review {
    padding: 6rem 8rem 8rem;
    background: white;
    box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.08);

    @media all and (max-width: 920px) {
      padding: 4rem 8rem 6rem;
    }
    @media all and (max-width: 720px) {
      padding: 2rem 4rem 4rem;
    }
    @media all and (max-width: 576px) {
      padding: 2rem 2rem 4rem;
    }
    @media all and (max-width: 375px) {
      padding: 2rem .2rem 4rem;
    }

    .review {
      &__grid {
        position: relative;
        display: grid;
        grid-template: auto / repeat(2, 1fr);

        &::after {
          content: '';
          display: block;
          width: 14rem;
          height: 11.1rem;
          position: absolute;
          right: 0;
          bottom: -4rem;
          background: url('../img/reviews/quotes.svg') center center/auto no-repeat;
          z-index: 1;

          @media all and (max-width: 920px) {
            right: calc(50% - 7rem);
            bottom: 0;
          }
        }
      }

      &__author {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 2;

        @media all and (max-width: 920px) {
          order: 3;
          grid-column: span 2;
          justify-content: center;
          padding-top: 5rem;
          flex-direction: column;
          text-align: center;
        }
        @media all and (max-width: 375px) {
          padding-top: 4rem;
        }

        &-photo {
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          margin-right: 2rem;

          @media all and (max-width: 920px) {
            margin-right: 0;
          }
        }

        &-info {
          font-size: 1.8rem;
          line-height: 2.2rem;
          color: $text-gray;

          @media all and (max-width: 920px) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 9rem;
          }
        }
        &-name {
          font-weight: 700;
        }
        &-position {
          margin-top: .2rem;
          font-size: 1.5rem;
          line-height: 2.2rem;
        }
      }

      &__client {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 2.9rem;
        color: $text-dark-gray;

        @media all and (max-width: 920px) {
          order: 1;
          flex-direction: column;
          grid-column: span 2;
          justify-content: center;
        }

        &-name {
          min-height: 9rem;
          display: flex;
          align-items: center;
          margin-right: 11rem;
          white-space: nowrap;

          @media all and (max-width: 1024px) {
            margin-right: 2rem;
          }
          @media all and (max-width: 920px) {
            margin-right: 0;
          }
        }
        &-logo {
          height: 9rem;
          width: 14rem;
          display: flex;
          align-items: center;
          justify-content: center;
          &-img {
            max-width: 100%;
          }
        }
      }

      &__text {
        position: relative;
        padding-top: 6rem;
        grid-column: span 2;
        color: $text-gray;
        line-height: 2.3rem;
        z-index: 2;

        @media all and (max-width: 920px) {
          order: 2;
          padding-top: 3rem;
          text-align: center;
        }
        @media all and (max-width: 576px) {
          padding-top: 2rem;
        }


        p + p {
          margin-top: 2.7rem;
        }
      }
    }



  }
}
