@import "colors";

.services-block__services-grid {
  position: relative;
  margin-top: 8rem;
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  grid-gap: 2rem;
  z-index: 2;

  @media all and (max-width: 1200px) {
    margin-top: 6rem;
  }
  @media all and (max-width: 1024px) {
    grid-template: auto / repeat(3, 1fr);
  }
  @media all and (max-width: 768px) {
    grid-template: auto / repeat(2, 1fr);
  }
  @media all and (max-width: 576px) {
    grid-template: auto / 1fr;
  }

}

.services-grid__item {
  position: relative;
  padding: 4rem 5rem 4rem 4rem;
  background: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid #D2D2D2;

  @media all and (max-width: 1024px) {
    flex-direction: column;
    padding: 5rem 2rem 4rem;
  }
  @media all and (max-width: 576px) {
    padding: 5rem 1.9rem 4rem;
  }

  &:hover {
    background: linear-gradient(342.32deg, #052743 -0.02%, #949EB7 100.01%);

    .services-grid__item-title, .services-grid__item-desc, .services-grid__item-num {
      color: white;
    }
    path {
      fill: white;
    }
    .services-grid__item-arrow {
      background: rgba(0, 0, 0, .15);
    }

  }

  &-info {
    flex: 1;
    max-width: 42rem;

    @media all and (max-width: 576px) {
      max-width: unset;
    }

    &-header {
      display: flex;
      align-items: center;

      @media all and (max-width: 1024px) {
        flex-direction: column;
      }
    }
  }

  &-title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: $text-dark-gray;

    @media all and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      height: 5rem;
      line-height: 2.5rem;
      align-items: center;
      text-align: center;
      margin-top: 3rem;
    }
  }

  &-icon {
    margin-right: 5rem;
    width: 5rem;
    height: 5rem;

    @media all and (max-width: 1024px) {
      margin-right: 0;
    }

    &-img {
      max-width: 100%;
    }
  }

  &-desc {
    margin-top: 3rem;
    color: $text-gray;

    @media all and (max-width: 1024px) {
      margin-top: 1rem;
      text-align: center;
    }
  }

  &-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 2rem;

    @media all and (max-width: 1024px) {
      margin-top: 3.5rem;
      flex-direction: row;
      min-height: 4rem;
      justify-content: center;
      align-items: center;
    }
  }

  &-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background: rgba(0, 0, 0, .05);
    border-radius: 50%;

    path {
      fill: $text-gray;
    }
  }

  &-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    opacity: 0;
    z-index: 2;
  }

  &-num {
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-gray;

    @media all and (max-width: 1024px) {
      display: none;
    }
  }
}
