@import "colors";

.start-project {
  background: $bg-light-gray;
  padding: 10rem 0;

  @media all and (max-width: 576px) {
    padding: 8rem 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    width: 72rem;
    justify-content: space-between;

    @media all and (max-width: 1200px) {
      width: 64rem;
    }
    @media all and (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media all and (max-width: 768px) {
      width: unset;
      align-items: center;
    }
  }

  &__title.title--block {
    @media all and (max-width: 1024px) {
      font-size: 3.2rem;
      line-height: 4.4rem;
    }
    @media all and (max-width: 576px) {
      line-height: 3.8rem;
    }
  }

  &__desc {
    color: $text-gray;

    @media all and (max-width: 1024px) {
      margin-top: 1rem;
    }
    @media all and (max-width: 768px) {
      text-align: center;
    }
    @media all and (max-width: 576px) {
      margin-top: 4.3rem;
    }
  }

  &__button {
    width: 100%;
    max-width: 30rem;
    @media all and (max-width: 768px) {
      margin-top: 8rem;
    }
    @media all and (max-width: 576px) {
      margin-top: 6rem;
    }
  }
}
