@import "colors";

.team-block {

  .block__bg-text {
    @media all and (max-width: 768px) {
      display: none;
    }
  }

  &__tab-panel {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (max-width: 576px) {
      margin-top: 6rem;
    }

    &-item {
      width: 50%;
      padding-bottom: 1.5rem;
      position: relative;
      font-weight: 700;
      font-size: 1.8rem;
      color: $text-gray;
      cursor: pointer;

      @media all and (max-width: 576px) {
        display: none;
        width: 100%;
        padding: 1.5rem 0 0;
      }

      &:first-child {
        @media all and (max-width: 576px) {
          display: block;
        }
      }

      &::before {
        content: '';
        display: block;
        width: 30rem;
        height: .5rem;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #E0E0E0;

        @media all and (max-width: 768px) {
          width: 100%;
        }
        @media all and (max-width: 576px) {
          bottom: unset;
          top: 0;
          background: linear-gradient(0deg, #A92E35 -0.01%, #D2313B 99.98%);
        }
      }

      &.item--active, &:hover {
        color: $text-dark-gray;

        &::before {
          background: linear-gradient(0deg, #A92E35 -0.01%, #D2313B 99.98%);
        }
      }
    }

    &-item + &-item {
      margin-left: 2rem;

    }
  }

  &__tabs-wrapper {
    margin-top: 4rem;

    @media all and (max-width: 576px) {
      margin-top: 3rem;
    }
  }

  &__tab {
    display: none;
    grid-template: auto / repeat(4, 1fr);
    grid-gap: 2rem;

    @media all and (max-width: 1024px) {
      grid-template: auto / repeat(2, 1fr);
    }
    @media all and (max-width: 576px) {
      display: grid;
      grid-template: auto / 1fr;
    }

    &.tab--active {
      display: grid;
    }

    .team-block__tab-panel {
      display: none;
      @media all and (max-width: 576px) {
        display: block;
      }
    }

    .team-block__tab-panel-item {

      @media all and (min-width: 576px) {
        display: none;
        margin-top: 2rem;
      }
    }

    &-item {
      padding: 3rem;
      min-height: 24.8rem;
      background: white;
      box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.08);

      @media all and (max-width: 1024px) {
        min-height: 20.2rem;
      }
      @media all and (max-width: 768px) {
        min-height: 24.8rem;
        text-align: center;
      }
      @media all and (max-width: 576px) {
        min-height: 18.2rem;
      }
      @media all and (max-width: 375px) {
        min-height: 24.8rem;
      }

      &-icon {
        max-width: 3rem;
      }

      &-desc {
        margin-top: 2rem;
        color: $text-gray;
      }
    }
  }
}
