@import "colors";

.technology-block {
  background: $bg-light-gray;

  .block__desc {
    @media all and (max-width: 576px) {
      margin-top: 4.5rem;
    }
  }

  &__list {
    position: relative;
    margin-top: 8rem;
    display: grid;
    grid-template: auto / repeat(5, 1fr);
    grid-gap: 2rem;
    z-index: 2;

    @media all and (max-width: 1024px) {
      margin-top: 6rem;
      grid-template: auto / repeat(6, 1fr);
    }
    @media all and (max-width: 768px) {
      grid-template: auto / repeat(4, 1fr);
    }
    @media all and (max-width: 576px) {
      grid-template: auto / 1fr;
      grid-row-gap: 3rem;
    }

    &-item {
      background: white;
      box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.08);
      min-height: 23.1rem;

      &:nth-of-type(1), &:nth-of-type(2) {
        @media all and (max-width: 1024px) {
          grid-column: span 3;
        }
        @media all and (max-width: 768px) {
          grid-column: span 2;
        }
        @media all and (max-width: 576px) {
          grid-column: span 1;
        }

      }

      &:last-of-type {
        @media all and (max-width: 768px) {
          grid-column: 2 / span 2;
        }
        @media all and (max-width: 576px) {
          grid-column: span 1;
        }
      }

      @media all and (max-width: 1024px) {
        grid-column: span 2;
      }
      @media all and (max-width: 576px) {
        grid-column: span 1;
        min-height: unset;
      }

    }

    .list-item {

      &__title {
        font-weight: 700;
        font-size: 1.8rem;
        display: block;
        padding: 1.9rem 1rem;
        text-align: center;
        background: $blue-gradient;
        color: white;

        @media all and (max-width: 576px) {
          border-radius: .3rem;
        }
      }

      &__techologies {
        padding: 2rem;

        &-item {
          text-align: center;
          color: $text-dark-gray;
          margin-bottom: .4rem;
        }
      }
    }

  }
}
