@import "colors";

.tell-us-block {
  background: white;

  .block__title {
    text-align: left;
    font-size: 3.2rem;
    line-height: 3.8rem;

    @media all and (max-width: 576px) {
      text-align: center;
    }
  }

  &__contact-form {
    margin-top: 8rem;
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    grid-gap: 2rem;

    @media all and (max-width: 768px) {
      grid-template: auto / 1fr;
    }
    @media all and (max-width: 576px) {
      margin-top: 6rem;
    }

    .contact-form__left-block {

      .form__textarea {
        min-height: 27.5rem;

        @media all and (max-width: 768px) {
          min-height: 15rem;
        }
        @media all and (max-width: 576px) {
          min-height: 10rem;
        }
      }
    }
    .contact-form__right-block {
      width: 46rem;
      margin: 0 auto;

      @media all and (max-width: 1024px) {
        width: 100%;
      }
    }

    .contact-form__input-inline {
      @media all and (max-width: 768px) {
        display: flex;
      }

      @media all and (max-width: 576px) {
        flex-direction: column;
      }

    }

    .contact-form__input-wrapper {
      @media all and (max-width: 768px) {
        flex: 1;
      }
    }

    .contact-form__input-wrapper + .contact-form__input-wrapper {
      margin-top: 2.4rem;

      @media all and (max-width: 768px) {
        margin-left: 2rem;
        margin-top: 0;
      }
      @media all and (max-width: 576px) {
        margin-top: 2.4rem;
        margin-left: 0;
      }
    }
  }
}
