@import "colors";

body {
  font-family: 'Gilroy', SansSerif;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: $text-black;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.title--block {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.6rem;
  color: $title-black;

  @media all and (max-width: 768px) {
    width: 100%;
    text-align: center;
  }

  @media all and (max-width: 576px) {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
}

