@import "colors";

.vacancy-block {
  background: $bg-light-gray;

  .block__title {
    @media all and (max-width: 768px) {
      font-size: 3.2rem;
      line-height: 3.8rem;
    }
  }

  &__vacancy-list {
    position: relative;
    margin-top: 8rem;
    z-index: 2;

    @media all and (max-width: 576px) {
      margin-top: 6rem;
    }
  }
}

.vacancy-list__item + .vacancy-list__item {
  margin-top: 2rem;
  @media all and (max-width: 576px) {
    margin-top: 4rem;
  }
}

.vacancy-list__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  min-height: 14rem;
  background: white;

  @media all and (max-width: 576px) {
    flex-direction: column;
    padding: 4rem 1rem;
  }

  &::before {
    content: '';
    display: block;
    width: .5rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #A92E35 -0.01%, #D2313B 99.98%);

    @media all and (max-width: 768px) {
      height: .5rem;
      width: 100%;
    }
  }

  .item__title {
    display: flex;
    align-items: center;
    min-height: 6rem ;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: $text-dark-gray;

    &-link {
      color: inherit;
      &:focus {
        outline: none;
      }
    }
  }

  .item__button {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    width: 22rem;
    height: 4rem;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-dark-gray;

    @media all and (max-width: 900px) and (min-width: 576px) {
      font-size: 0;
      width: 6.2rem;
    }

    @media all and (max-width: 576px) {
      margin-top: 4rem;
    }

    &:hover {
      cursor: pointer;
      &::after {
        background: $red-gradient-active;
      }

      &::before {
        transform: translateX(1rem);
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 4rem;
      top: calc(50% - 2rem);
      right: 0;
      height: 4rem;
      background: #E0E0E0;
      border-radius: 50%;
      z-index: 1;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 4.2rem;
      top: calc(50% - .7rem);
      right: 2rem;
      height: 1.6rem;
      background: url('../img/show-more-arrow-black.svg') center center no-repeat;
      z-index: 2;
      transition: .2s;
    }
  }
}
