@import "colors";

.video {
  background: $bg-light-gray;

  &__header {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    grid-gap: 2rem;

    @media all and (max-width: 1024px) {
      grid-row-gap: 3rem;
    }
    @media all and (max-width: 900px) {
      grid-template: auto / repeat(2, 1fr);
      grid-row-gap: 6rem;
    }
    @media all and (max-width: 480px) {
      grid-template: auto / 1fr;
    }

    &-item {
      @media all and (max-width: 1024px) {
        grid-column: span 2;
      }
      @media all and (max-width: 900px) {
        grid-column: unset;
        text-align: center;
      }

      &.item--tasks {
        grid-column: span 2;

        @media all and (max-width: 1024px) {
          grid-row: span 2;
        }
        @media all and (max-width: 900px) {
          grid-row: unset;
        }
        @media all and (max-width: 480px) {
          grid-column: unset;
        }
      }

      &.item--works, &.item--tech {
        @media all and (max-width: 1024px) {
          display: flex;
          justify-content: space-between;
        }
        @media all and (max-width: 900px) {
          display: unset;
        }

      }

      &-title {
        display: inline-block;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 2.9rem;
        color: $text-dark-gray;
        margin-bottom: 3rem;

        @media all and (max-width: 480px) {
          margin-bottom: 2rem;
        }
      }

      &-desc {
        max-width: 54rem;
        margin-right: 4rem;
        color: $text-gray;

        @media all and (max-width: 1024px) {
          max-width: 38rem;
        }
        @media all and (max-width: 900px) {
          max-width: 62rem;
          margin: 0 auto;
        }
      }

      &-list {
        min-width: 22rem;
        color: $text-gray;

        @media all and (max-width: 900px) {
          min-width: unset;
        }
      }
    }
  }

  &__mockup {
    margin-top: 10rem;
    padding: 5.8% 12.7% 8.5%;
    background: url('../img/cases/mockup-bg-white.png') center center /contain no-repeat;

    @media all and (max-width: 1024px) {
      margin-top: 8rem;
    }
    @media all and (max-width: 576px) {
      margin-top: 6rem;
    }

    &.mockup--hide {
      padding: 0;
      background: none;
    }

    &-video {
      outline: none;
      max-width: 100%;
    }

  }
}
