@import "../colors";

.main-screen {
  &--cases {
    padding-bottom: 0;
    max-height: unset;
    min-height: unset;

    .breadcrumbs {
      margin-top: 6rem;

      @media all and (max-width: 1024px) {
        margin-top: 5rem;
      }
      @media all and (max-width: 992px) {
        margin-top: 4rem;
      }
      @media all and (max-width: 576px) {
        margin-top: 3rem;
        text-align: center;
      }
    }

    .main-screen__content {

      @media all and (max-width: 992px) {
        flex-direction: column;
        min-height: 79.4rem;
      }

      @media all and (max-width: 480px) {
        min-height: 41.4rem;
      }
    }

    .main-screen__content-info {
      max-width: 70rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 8.2rem;

      @media all and (max-width: 1024px) {
        padding-bottom: 4.6rem;
      }
      @media all and (max-width: 992px) {
        order: 1;
        align-items: center;
        padding-bottom: 0;
      }

    }

    .main-screen__content-title {
      max-width: 70rem;
      margin-top: 6rem;

      @media all and (max-width: 1024px) {
        max-width: 46rem;
        margin-top: 5rem;
      }
      @media all and (max-width: 992px) {
        max-width: unset;
        margin-top: 4rem;
      }
      @media all and (max-width: 576px) {
        margin-top: 3rem;
        font-size: 3.6rem;
        line-height: 4.3rem;
      }
    }

    .main-screen__content-desc {
      max-width: unset;
      flex: 0 0 auto;

      @media all and (max-width: 1024px) {
        margin-top: 2rem;
      }

      @media all and (max-width: 480px) {
        margin-top: 3rem;
        line-height: 2.4rem;
      }
    }

    .main-screen__content-img-wrapper {
      align-self: flex-end;
      position: relative;
      margin-top: -5.2rem;
      max-width: 46rem;
      text-align: right;

      @media all and (max-width: 992px) {
        order: 2;
        flex: 0 0 auto;
        margin: 5rem auto 0;
        text-align: center;
      }
      @media all and (max-width: 480px) {
        position: absolute;
        min-width: unset;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0;
      }

      &::before {
        content: '';
        display: block;
        width: 80rem;
        height: 80rem;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.1);
        z-index: 1;
        transition: .2s;

        @media all and (max-width: 1200px) {
          width: 70rem;
          height: 70rem;
        }
        @media all and (max-width: 1024px) {
          width: 61.3rem;
          height: 61.3rem;
        }
        @media all and (max-width: 992px) {
          top: 3rem;
          left: calc(50% - 38.4rem);
          width: 76.8rem;
          height: 76.8rem;
        }
        @media all and (max-width: 480px) {
          display: none;
        }
      }
    }
    .main-screen__content-img {
      width: 100%;
      position: relative;
      z-index: 2;
      margin-top: 3rem;

      @media all and (max-width: 1024px) {
        margin-top: 0;
      }
      @media all and (max-width: 480px) {
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }


  &--sadko {
    background: #29BBB1;

    .main-screen__content-title {
      max-width: 46rem;

      @media all and (max-width: 1024px) {
        max-width: 30rem;
      }
      @media all and (max-width: 992px) {
        max-width: 54rem;
      }
    }
  }

  &--philips {
    background: #5789B2;
  }

  &--logotype {
    background: #646986;
  }

  &--nipt {
    background: #084060;

  }
}
