<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="{{ meta.description }}">
  <meta name="keywords" content="{{ meta.keywords }}">
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
  <meta property="og:title" content="{{ meta.og_title }}">
  <meta property="og:description" content="{{ meta.og_description }}"/>
  <meta property="og:type" content="{{ meta.og_type }}">
  <meta property="og:url" content="{{ meta.og_url }}">
  <meta property="og:site_name" content="{{ meta.og_site_name }}">

  <link rel="stylesheet" href="/css/styles.css">
  <title>Корпоративный сайт для компании НИПТ | Zerolab</title>
</head>

<body>

  <header class="header header--cases">
    <div class="header__container container">
      <div class="header__inner">
        <div class="header__menu">
          <div class="header__menu-caller">
            <div class="menu-caller__icon"></div>
            <span>меню</span>
          </div>
        </div>
        <div class="header__logo">
          <a class="header__logo-link" href="/" title="На главную"><img class="header__logo-img" src="/img/logo-white.png" alt="Zerolab"></a>
        </div>
        <div class="header__start-project">
          <button class="header__start-project-button button" aria-label="Начать проект" data-fancybox="" data-src="#modal-project">Начать проект</button>
        </div>
        <div class="header__callback">
          <button class="header__callback-button" aria-label="Показать меню">
            <img class="callback-button__icon svg" src="/img/phone.svg" alt="Контакты">
          </button>
        </div>

      </div>
    </div>
  </header>

  <div class="main-screen main-screen--single-page main-screen--cases main-screen--nipt">

    <div class="container">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a class="breadcrumbs__item-link" href="/" title="Главная">Главная</a></li>
          <li class="breadcrumbs__item"><a class="breadcrumbs__item-link" href="/projects.html" title="Проекты">Проекты</li>
          <li class="breadcrumbs__item">Корпоративный сайт для компании НИПТ</li>
        </ul>
      </div>
      <div class="main-screen__content">
          <div class="main-screen__content-info">
            <h1 class="main-screen__content-title">Корпоративный сайт для компании НИПТ</h1>
            <div class="main-screen__content-desc">
              <p class="content-desc__p">Нижегородский институт прикладных технологий (НИПТ) является одной из крупнейших нефтесервисных компаний в области разработки и применения инновационных технологий для решения экологических проблем отрасли, а также в строительстве и проектировании.</p>
            </div>
          </div>
          <div class="main-screen__content-img-wrapper">
            <img class="main-screen__content-img" src="/img/cases-header/nipt.png" alt="Компания НИПТ">
          </div>

      </div>
   </div>

  </div>

  <div class="video block block--case block--white">
    <div class="container">

      <div class="video__header">
        <div class="video__header-item item--tasks">
          <span class="video__header-item-title">Задачи</span>
          <p class="video__header-item-desc">Разработать новый сайт, с акцентом на предыдущую версию, который отразит направления деятельности компании и имиджевое позиционирование компании в интернете.</p>
        </div>
        <div class="video__header-item item--works">
          <span class="video__header-item-title">Работы</span>
          <ul class="video__header-item-list">
            <li>Разработка сайтов</li>
            <li>Поддержка</li>
            <li>Дизайн</li>
          </ul>
        </div>
        <div class="video__header-item item--tech">
          <span class="video__header-item-title">Технологии</span>
          <ul class="video__header-item-list">
            <li>HTML5, CSS3, jQuery</li>
            <li>AJAX, Django</li>
            <li>Figma</li>
          </ul>
        </div>
      </div>
        <div class="video__mockup mockup--hide">
          <video class="video__mockup-video" width="100%" height="auto" autoplay="autoplay" muted loop playsinline poster="/img/cases/nipt-video-poster.jpg">
            <source src="/video/nipt.mp4" type="video/mp4">
            Тег video не поддерживается вашим браузером.
          </video>
        </div>


    </div>
  </div>

  <div class="case-info block block--case block--black">
    <div class="container">
      <div class="case-info__header">
        <h2 class="case-info__header-title">Разработка</h2>
        <div class="case-info__header-desc">
          <p>Сайт имеет структуру с большим количеством разделов.</p>
          <p>Предлагаемые компанией услуги разделены по группам.</p>
          <p>Каждая услуга имеет подробное описание, видео, изображения и опыт применения в различных отраслях.</p>
        </div>
      </div>

      <div class="case-info__photo">
        <picture>
          <source srcset="../img/cases/nipt-01-desktop.jpg" media="(min-width: 1024px)">
          <source srcset="../img/cases/nipt-01-tablet1.jpg" media="(min-width: 768px)">
          <source srcset="../img/cases/nipt-01-tablet2.jpg" media="(min-width: 576px)">
          <img class="case-info__photo-img" src="../img/cases/nipt-01-tablet2.jpg" alt="Разработка сайта НИПТ">
        </picture>
      </div>
    </div>
  </div>
  <div class="case-info block block--case block--gray">
    <div class="container">
      <div class="case-info__header">
        <h2 class="case-info__header-title">Дизайн и юзабилити</h2>
        <div class="case-info__header-desc">
          <p class="header-desc__p">Дизайн разработан с сохранением фирменного стиля и корпоративной эстетики компании.</p>
          <p class="header-desc__p">Реализовано простое и четкое представление информации с быстрым доступом пользователей к основным разделам.</p>
          <p class="header-desc__p">Пользовательский интерфейс сделан максимально удобным и интуитивно понятным.</p>
        </div>
      </div>

      <div class="case-info__photo">
        <picture>
          <source srcset="../img/cases/nipt-02-desktop.jpg" media="(min-width: 1024px)">
          <source srcset="../img/cases/nipt-02-tablet1.jpg" media="(min-width: 768px)">
          <source srcset="../img/cases/nipt-02-tablet2.jpg" media="(min-width: 576px)">
          <img class="case-info__photo-img" src="../img/cases/nipt-02-tablet2.jpg" alt="Дизайн и юзабилити сайта НИПТ">
        </picture>
      </div>
    </div>
  </div>
  <div class="case-info block block--case block--white">
    <div class="container">
      <div class="case-info__header">
        <h3 class="case-info__header-title">Результат</h3>
        <div class="case-info__header-desc header-desc--short">
          <p class="header-desc__p">После сдачи проекта заказчик остался доволен результатом.</p>
          <p class="header-desc__p">Мы спроектировали простую и понятную для навигации структуру сайта, добавили продуманный дизайн и получили основной сайт. Также реализовали разделы по направлениям.</p>
        </div>
      </div>

      <div class="case-info__photo">
        <picture>
          <source srcset="../img/cases/nipt-03-desktop.jpg" media="(min-width: 1024px)">
          <source srcset="../img/cases/nipt-03-tablet1.jpg" media="(min-width: 768px)">
          <source srcset="../img/cases/nipt-03-tablet2.jpg" media="(min-width: 576px)">
          <img class="case-info__photo-img" src="../img/cases/nipt-03-tablet2.jpg" alt="Результат работы над сайтом НИПТ">
        </picture>
      </div>
    </div>
  </div>
  <div class="case-info block block--case block--black">
    <div class="container">
      <div class="case-info__header">
        <h3 class="case-info__header-title">Техническая поддержка</h3>
        <div class="case-info__header-desc header-desc--short">
          <p>На текущий момент наша компания оказывает помощь в вопросах эксплуатации ресурса.</p>
          <p>Так же мы обеспечиваем бесперебойное функционирование и поддержку работоспособности сайта.</p>
        </div>
      </div>

      <div class="case-info__photo">
        <picture>
          <source srcset="../img/cases/nipt-04-desktop.jpg" media="(min-width: 1024px)">
          <source srcset="../img/cases/nipt-04-tablet1.jpg" media="(min-width: 768px)">
          <source srcset="../img/cases/nipt-04-tablet2.jpg" media="(min-width: 576px)">
          <img class="case-info__photo-img" src="../img/cases/nipt-04-tablet2.jpg" alt="Техническая поддержка сайта НИПТ">
        </picture>
      </div>
    </div>
  </div>

  <div class="projects-block block block--case">

    <div class="container">
      <div class="block__header">
        <div class="block__bg-text">
          <img class="block__bg-text-img" src="/img/projects-white.svg" alt="Проекты">
        </div>
        <h2 class="block__title title--block">Другие наши проекты</h2>
      </div>

      <div class="projects-block__slider slider">
        <div class="projects-block__slide slide--sadko crm">
          <div class="slide__item">
            <span class="slide__item-title">CRM-система для сети клиник Садко</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Разработка CRM</li>
                <li class="works-list__item">Тестирование</li>
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="arrow-next__img svg" src="/img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>
              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="/img/projects/projects-01.png" alt="CRM-система для сети клиник Садко">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="/cases/sadko.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>
        <div class="projects-block__slide slide--nipt website">
          <div class="slide__item">
            <span class="slide__item-title">Корпоративный сайт для компании НИПТ</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Разработка</li>
                <li class="works-list__item">Поддержка</li>
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="arrow-next__img svg" src="/img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="/img/projects/projects-02.png" alt="Корпоративный сайт для компании НИПТ">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="/cases/nipt.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>
        <div class="projects-block__slide slide--philips website">
          <div class="slide__item">
            <span class="slide__item-title">Промо-сайт электронной бритвы Philips 2300S</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">Разработка промо-сайта</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="link__arrow-next svg" src="/img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="/img/projects/projects-03.png" alt="Промо-сайт электронной бритвы Philips 2300S">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="/cases/philips.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>
        <div class="projects-block__slide slide--secco e-shop">
          <div class="slide__item">
            <span class="slide__item-title">Интернет-магазин классических часов SECCO</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Проектирование</li>
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">Разработка</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="link__arrow-next svg" src="/img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="/img/projects/projects-04.png" alt="Интернет-магазин классических часов SECCO">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="/cases/logotype.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>

        <div class="projects-block__slide slide--sadko crm">
          <div class="slide__item">
            <span class="slide__item-title">CRM-система для сети клиник Садко</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Разработка CRM</li>
                <li class="works-list__item">Тестирование</li>
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="arrow-next__img svg" src="/img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>
              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="/img/projects/projects-01.png" alt="CRM-система для сети клиник Садко">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="/cases/sadko.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>
        <div class="projects-block__slide slide--nipt website">
          <div class="slide__item">
            <span class="slide__item-title">Корпоративный сайт для компании НИПТ</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Разработка</li>
                <li class="works-list__item">Поддержка</li>
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="arrow-next__img svg" src="/img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="/img/projects/projects-02.png" alt="Корпоративный сайт для компании НИПТ">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="/cases/nipt.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>
        <div class="projects-block__slide slide--philips website">
          <div class="slide__item">
            <span class="slide__item-title">Промо-сайт электронной бритвы Philips 2300S</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">Разработка промо-сайта</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="link__arrow-next svg" src="/img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="/img/projects/projects-03.png" alt="Промо-сайт электронной бритвы Philips 2300S">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="/cases/philips.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>
        <div class="projects-block__slide slide--secco e-shop">
          <div class="slide__item">
            <span class="slide__item-title">Интернет-магазин классических часов SECCO</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Проектирование</li>
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">Разработка</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="link__arrow-next svg" src="/img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="/img/projects/projects-04.png" alt="Интернет-магазин классических часов SECCO">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="/cases/logotype.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>

      </div>

      <div class="projects-block__slider-nav">
        <div class="slider-nav__inner">
          <button class="slider-nav__button button button--prev" aria-label="Предыдущий">Предыдущий</button>
          <button class="slider-nav__button button button--next" aria-label="Следующий">Следующий</button>
        </div>

        <a class="slider-nav__all-projects" href="/projects.html" title="Все наши проекты">Смотреть все проекты</a>
      </div>


    </div>
  </div>

  <div class="start-project block block--case">
    <div class="container">
      <div class="start-project__inner">
        <div class="start-project__info">
          <span class="start-project__title title--block">Хотите так же?</span>
          <p class="start-project__desc">Свяжитесь с нами и мы обсудим ваш проект.</p>
        </div>
        <button class="start-project__button button" data-fancybox data-src="#modal-project" aria-label="Начать проект">Начать проект</button>
      </div>
    </div>

  </div>

  <footer class="footer">
    <div class="container">

      <div class="main-menu menu--footer">

        <ul class="main-menu__list list--services">
          <li class="main-menu__item"><a class="item__link link--main" href="/index.html#services">Услуги</a></li>
          <li class="main-menu__item"><a class="item__link" href="/web-development.html">Разработка сайтов</a></li>
          <li class="main-menu__item"><a class="item__link" href="/support.html">Поддержка и развитие</a></li>
          <li class="main-menu__item"><a class="item__link" href="/design.html">Дизайн поддержка</a></li>
          <li class="main-menu__item"><a class="item__link" href="/outsourcing.html">Аутсорсинг</a></li>
          <li class="main-menu__item"><a class="item__link" href="/b2b-services.html">Интеграция B2B-сервисов</a></li>
          <li class="main-menu__item"><a class="item__link" href="/ecommerce.html">eCommerce проекты</a></li>
        </ul>

        <ul class="main-menu__list list--projects">
          <li class="main-menu__item"><a class="item__link link--main" href="/projects.html">Проекты</a></li>
          <li class="main-menu__item"><a class="item__link" href="/cases/nipt.html">Корпоративный сайт для компании НИПТ</a></li>
          <li class="main-menu__item"><a class="item__link" href="/cases/philips.html">Промо-сайт электронной бритвы Philips 2300S</a></li>
          <li class="main-menu__item"><a class="item__link" href="/cases/logotype.html">Интернет-магазин классических часов SECCO</a></li>
          <li class="main-menu__item"><a class="item__link" href="/cases/sadko.html">CRM-система для сети клиник Садко</a></li>
        </ul>

        <ul class="main-menu__list list--main">
          <li class="main-menu__item"><a class="item__link link--main" href="/reviews.html">Отзывы</a></li>
          <li class="main-menu__item"><a class="item__link link--main" href="/index.html#clients">Клиенты</a></li>
          <li class="main-menu__item"><a class="item__link link--main" href="/career.html">Вакансии</a></li>
          <li class="main-menu__item"><a class="item__link link--main" href="/contacts.html">Контакты</a></li>
          <li class="main-menu__social">
            <a class="social__link" href="#" title="Мы в Facebook">
              <img class="social__icon svg" src="/img/facebook-icon.svg" alt="Группа Facebook">
            </a>
            <a class="social__link" href="#" title="Мы в Instagram">
              <img class="social__icon svg" src="/img/instagram.svg" alt="Группа Instagram">
            </a>
          </li>
        </ul>

        <div class="main-menu__list-buttons">
          <button class="main-menu__order-button button" aria-label="Заказать звонок" data-fancybox="" data-src="#modal-callback">Заказать звонок</button>
          <a class="main-menu__contact-link" href="tel:+79200014744" title="Позвонить">+ 7 (920) 001-47-44</a>
          <a class="main-menu__contact-link" href="mailto:zerolab@gmail.com" title="Написать">zerolab@gmail.com</a>

          <div class="main-menu__file-wrapper">
            <div class="main-menu__file">
              <a class="main-menu__file-link" href="#">Открыть презентацию</a>
              <span class="main-menu__file-info">5 MB, PDF</span>
            </div>
          </div>

          <div class="main-menu__social">
            <a class="social__link" href="#" title="Мы в Facebook">
              <img class="social__icon svg" src="/img/facebook-icon.svg" alt="Группа Facebook">
            </a>
            <a class="social__link" href="#" title="Мы в Instagram">
              <img class="social__icon svg" src="/img/instagram.svg" alt="Группа Instagram">
            </a>
          </div>

        </div>
      </div>

    </div>

    <div class="footer__add-info">
      <div class="container">
        <div class="footer__add-info-inner">
          <div class="footer__company">
            <a href="/" title="Перейти на главную"><img class="footer__logo" src="/img/logo.png" alt="Zerolab"></a>
            <span class="footer__copyright">© ZeroLab, 2019</span>
          </div>
          <div class="footer__add-links">
            <a href="#" class="footer__link" data-fancybox data-src="#modal-cookies" title="Правила использования cookies">
              Правила использования cookies
            </a>
            <a href="#" class="footer__link" data-fancybox data-src="#modal-privacy" title="Политика конфиденциальности">
              Политика конфиденциальности
            </a>
          </div>
        </div>
      </div>

      </div>
  </footer>

  <!-- modals -->
<div class="popover-cookies">
  <div class="container">
    <div class="popover-cookies__content">

      <p class="popover-cookies__text">
        Мы используем файлы cookie. Подробная информация по ссылке:
        <a class="popover-cookies__text-link" href="#" aria-label="" data-fancybox="" data-src="#modal-cookies">
          правила использования cookies
        </a>
      </p>
      <div class="popover-cookies__button-wrapper">
        <button class="popover-cookies__button-agree" aria-label="Понятно">Понятно</button>
        <button class="popover-cookies__button-close" aria-label="Закрыть">Закрыть</button>
      </div>

    </div>
  </div>
</div>

<div class="modal-menu">
  <div class="container">
    <div class="main-menu">
      <ul class="main-menu__list list--services">
        <li class="main-menu__item"><a class="item__link link--main" href="/index.html#services">Услуги</a></li>
        <li class="main-menu__item"><a class="item__link" href="/web-development.html">Разработка сайтов</a></li>
        <li class="main-menu__item"><a class="item__link" href="/support.html">Поддержка и развитие</a></li>
        <li class="main-menu__item"><a class="item__link" href="/design.html">Дизайн поддержка</a></li>
        <li class="main-menu__item"><a class="item__link" href="/outsourcing.html">Аутсорсинг</a></li>
        <li class="main-menu__item"><a class="item__link" href="/b2b-services.html">Интеграция B2B-сервисов</a></li>
        <li class="main-menu__item"><a class="item__link" href="/ecommerce.html">eCommerce проекты</a></li>
      </ul>

      <ul class="main-menu__list list--projects">
        <li class="main-menu__item"><a class="item__link link--main" href="/projects.html">Проекты</a></li>
        <li class="main-menu__item"><a class="item__link" href="/cases/nipt.html">Корпоративный сайт для компании НИПТ</a></li>
        <li class="main-menu__item"><a class="item__link" href="/cases/philips.html">Промо-сайт электронной бритвы Philips 2300S</a></li>
        <li class="main-menu__item"><a class="item__link" href="/cases/logotype.html">Интернет-магазин классических часов SECCO</a></li>
        <li class="main-menu__item"><a class="item__link" href="/cases/sadko.html">CRM-система для сети клиник Садко</a></li>
      </ul>

      <ul class="main-menu__list list--main">
        <li class="main-menu__item"><a class="item__link link--main" href="/reviews.html">Отзывы</a></li>
        <li class="main-menu__item"><a class="item__link link--main" href="/index.html#clients">Клиенты</a></li>
        <li class="main-menu__item"><a class="item__link link--main" href="/career.html">Вакансии</a></li>
        <li class="main-menu__item"><a class="item__link link--main" href="/contacts.html">Контакты</a></li>
        <li class="main-menu__social">
          <a class="social__link" href="#" title="Мы в Facebook">
            <img class="social__icon svg" src="/img/facebook-icon.svg" alt="Группа Facebook">
          </a>
          <a class="social__link" href="#" title="Мы в Instagram">
            <img class="social__icon svg" src="/img/instagram.svg" alt="Группа Instagram">
          </a>
        </li>
      </ul>

      <div class="main-menu__list-buttons">
        <button class="main-menu__order-button button" aria-label="Заказать звонок" data-fancybox="" data-src="#modal-callback">Заказать звонок</button>
        <a class="main-menu__contact-link" href="tel:+79200014744" title="Позвонить">+ 7 (920) 001-47-44</a>
        <a class="main-menu__contact-link" href="mailto:zerolab@gmail.com" title="Написать">zerolab@gmail.com</a>

        <div class="main-menu__file-wrapper">
          <div class="main-menu__file">
            <a class="main-menu__file-link" href="#">Открыть презентацию</a>
            <span class="main-menu__file-info">5 MB, PDF</span>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="modal-contacts-menu">
  <div class="modal-contacts-menu__list">
    <div class="list__item">
      <button class="list__item-button button" aria-label="Начать проект" data-fancybox="" data-src="#modal-project">Начать проект</button>
    </div>
    <div class="list__item">
      <a class="list__item-link" href="mailto:zerolab@gmail.com" title="Наша почта">zerolab@gmail.com</a>
    </div>
    <div class="list__item">
      <a class="list__item-link" href="tel:+79200014744" title="Наша почта">+ 7 (920) 001-47-44</a>
    </div>
    <div class="list__item">
      <button class="list__item-button button" aria-label="Начать проект" data-fancybox="" data-src="#modal-callback">Заказать звонок</button>
    </div>
    <div class="list__item item--file">
      <a class="list__item-link link--file" href="#" title="Наша почта">Открыть презентацию</a>
      <span class="list__item-file-info">5 MB, PDF</span>
    </div>
  </div>
</div>

<div class="modal modal--callback" id="modal-callback">
  <div class="modal__header">
    <div class="modal__title">Заказать звонок</div>
  </div>
  <div class="modal__content">
    <form class="modal__form form">
      <label class="form__label" for="name">Имя *</label>
      <div class="form__input-outline">
        <input type="text" class="form__input input-field req-field" id="name" name="name" placeholder="Введите ваше имя">
        <span class="form__input-check"></span>
        <span class="form__input-error"></span>
      </div>

      <label class="form__label" for="phone">Номер телефона *</label>
      <div class="form__input-outline">
        <input type="tel" class="form__input input-field input-tel req-field" id="phone" name="phone" placeholder="Введите номер телефона">
        <span class="form__input-check"></span>
        <span class="form__input-error"></span>
      </div>

      <button type="submit" class="form__button button" aria-label="Отправить заявку">Отправить заявку</button>

      <p class="form__privacy-text">Отправляя данные, вы соглашаетесь <span class="text-break">с <a class="form__privacy-link" href="#" data-fancybox data-src="#modal-privacy">политикой конфиденциальности</a></span></p>
    </form>
  </div>
</div>

<div class="modal modal--project" id="modal-project">
  <div class="modal__header">
    <div class="modal__title">Начать проект</div>
  </div>
  <div class="modal__content">
    <form class="modal__form form" novalidate>
      <label class="form__label" for="name2">Имя *</label>
      <div class="form__input-outline">
        <input type="text" class="form__input input-field req-field" id="name2" name="name" placeholder="Введите ваше имя">
        <span class="form__input-check"></span>
        <span class="form__input-error"></span>
      </div>

      <div class="modal__form-input-inline">
        <div class="modal__form-input-wrapper">
          <label class="form__label" for="phone2">Номер телефона *</label>
          <div class="form__input-outline">
            <input type="tel" class="form__input input-field input-tel req-field" id="phone2" name="phone" placeholder="Введите номер телефона">
            <span class="form__input-check"></span>
            <span class="form__input-error"></span>
          </div>
        </div>
        <div class="modal__form-input-wrapper">
          <label class="form__label" for="email2">E-mail</label>
          <div class="form__input-outline">
            <input type="email" class="form__input input-field input-email" id="email2" name="email" placeholder="Введите ваш e-mail">
            <span class="form__input-check"></span>
            <span class="form__input-error"></span>
          </div>
        </div>
      </div>

      <label class="form__label" for="message">Комментарий</label>
      <div class="form__input-outline">
        <textarea class="form__textarea textarea-field" id="message" name="message" placeholder="Расскажите о проекте"></textarea>
        <span class="form__input-check"></span>
        <span class="form__input-error"></span>
      </div>

      <label class="form__label">Материалы по проекту</label>
      <div class="form__upload">
        <span class="form__upload-text">Файлы “.pdf” или “.doc”</span>
        <input type="file" class="form__input-upload upload--project" id="file-project" hidden multiple>
        <label class="form__label-upload" for="file-project"></label>
        <div class="form__upload-list"></div>
        <span class="form__input-error">Прикрепите файлы “.pdf” или “.doc”</span>
      </div>

      <button type="submit" class="form__button button" aria-label="Отправить заявку">Отправить заявку</button>

      <p class="form__privacy-text">Отправляя данные, вы соглашаетесь <span class="text-nowrap">с <a class="form__privacy-link" href="#" data-fancybox data-src="#modal-privacy">политикой конфиденциальности</a></span></p>
    </form>
  </div>
</div>

<div class="modal modal--privacy" id="modal-privacy">
  <div class="modal__header">
    <div class="modal__title">Политика конфиденциальности</div>
  </div>
  <div class="modal__content">
   <div class="modal__privacy-text">
     <p>Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года Вы подтверждаете свое согласие на обработку компанией ZeroLab персональных данных: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу исключительно в целях продажи программного обеспечения на Ваше имя, как это описано ниже, блокирование, обезличивание, уничтожение.</p>
     <p>Компания ZeroLab гарантирует конфиденциальность получаемой информации. Обработка персональных данных осуществляется в целях эффективного исполнения заказов, договоров и иных обязательств, принятых компанией ZeroLab в качестве обязательных к исполнению.</p>
     <p>В случае необходимости предоставления Ваших персональных данных правообладателю, дистрибьютору или реселлеру программного обеспечения в целях регистрации программного обеспечения на ваше имя, вы даёте согласие на передачу ваших персональных данных. Компания ZeroLab гарантирует, что правообладатель, дистрибьютор или реселлер программного обеспечения осуществляет защиту персональных данных на условиях, аналогичных изложенным в Политике конфиденциальности персональных данных.</p>
     <p>Настоящее согласие распространяется на следующие Ваши персональные данные: фамилия, имя и отчество, адрес электронной почты, почтовый адрес доставки заказов, контактный телефон, платёжные реквизиты.</p>
     <p>Срок действия согласия является неограниченным. Вы можете в любой момент отозвать настоящее согласие, направив письменное уведомления на адрес: 000000, г. Нижний Новгород, ул. Германа Лопатина, д. 8, с пометкой «Отзыв согласия на обработку персональных данных».</p>
     <p>Обращаем ваше внимание, что отзыв согласия на обработку персональных данных влечёт за собой удаление Вашей учётной записи с Интернет-сайта (http://zerolab.tech), а также уничтожение записей, содержащих ваши персональные данные, в системах обработки персональных данных компании ZeroLab, что может сделать невозможным пользование интернет-сервисами компании ZeroLab.</p>
     <p>Гарантирую, что представленная мной информация является полной, точной и достоверной, а также что при представлении информации не нарушаются действующее законодательство Российской Федерации, законные права и интересы третьих лиц. Вся представленная информация заполнена мною в отношении себя лично.</p>
     <p>Настоящее согласие действует в течение всего периода хранения персональных данных, если иное не предусмотрено законодательством Российской Федерации.</p>
   </div>
  </div>
</div>

<div class="modal modal--cookies" id="modal-cookies">
  <div class="modal__header">
    <div class="modal__title">Правила использования cookies</div>
  </div>
  <div class="modal__content">
   <div class="modal__cookies-text">
     <p>Как и многие другие вебсайты, мы используем cookie-файлы. Cookies – это небольшие текстовые файлы, которые вебсайты автоматически сохраняют в браузере вашего компьютера, когда вы заходите на сайт. Мы не используем cookie-файлы, которые обращаются к какой-либо информации, хранимой на вашем жестком диске, повреждают или подвергают ваш компьютер иной опасности. Мы используем cookie-файлы для идентификации вашего компьютера, когда вы используете наши онлайн-сервисы, и для отслеживания и оказания вам помощи в навигации по нашим онлайн-сервисам.</p>
     <p>Примерами данных, которые могут анализироваться с применением cookie-файлов, являются имя пользователя; адрес электронной почты и пароль; IP-адрес, используемый для подключения вашего компьютера к интернету; тип и версия браузера; операционная система и платформа, используемая вами при подключении; области наших онлайн-сервисов, которые вы просматривали или искали; URL-адреса с или через которые вы вошли и вышли из наших онлайн-сервисов; и дата со временем подобных действий.</p>
     <p>Сookie-файлы используются на наших сайтах для достижения различных целей, а именно: - Ограничение рекламных кампаний – мы используем сookie-файлы, чтобы наши пользователи не подвергались чрезмерному воздействию той или иной рекламной интернет-кампании. - Geo-Management Advisory Service – мы используем сookie-файлы для определения того, когда пользователь в последний раз просматривал сообщение о том, что вебсайт, на который он заходит, ориентирован на определенный географический регион или страну. - Ограничение голосования – на некоторых сайтах мы используем сookie-файлы для проверки количества голосов, отданных тем или иным пользователем за одни сутки. - Функция плейлиста – наши музыкальные сайты используют дополнительные куки для обеспечения правильной работы плейлиста на сайте. Вы можете использовать раздел «Помощь» на панели инструментов большинства браузеров, чтобы изменить настройки вашего компьютера, например, чтобы видеть уведомления о получении сookie-файлов или вообще отказаться от получения таковых. Однако если вы полностью откажетесь от получения сookie-файлов, некоторые функции наших онлайн-сервисов могут не работать или же доступ к ним будет затруднен. Чтобы получить более подробную информацию о куки, зайдите на сайт www.youronlinechoices.eu.</p>
     <p>Поведенческая реклама в интернете Мы прибегаем к услугам сторонних рекламных компании с целью доставки рекламных сообщений на наши онлайн-сервисы, включая компанию DoubleClick и программу Google AdSense. Получаемые вами рекламные сообщения зависят от множества факторов, включая информацию о страницах, на которые вы заходили (журнал обозревателя) до посещения этого вебсайта. Эти компании могут использовать сведения (не включая ваше имя, адрес, адрес электронной почты или номер телефона) об использовании вами наших онлайн-сервисов, чтобы доставлять вам рекламные сообщения о товарах и услугах, которые могут заинтересовать вас. В ходе доставки рекламных сообщений сеть нашей сторонней компании может помещать или опознавать уникальные «сookie-файлы» в вашем браузере. Это «постоянные» сookies, они сохраняются на вашем компьютере и хранятся до тех пор, пока не истечет срок их действия или вы не удалите их. Сети распространения рекламы также могут пользоваться другими технологиями, такими как «веб-маяки», чтобы получаемые вами рекламные сообщения были более актуальными для вас. Для получения более подробной информации о работе DoubleClick и о том, что вы можете сделать, чтобы эта информация не использовалась, нажмите сюда: www.doubleclick.net/us/corporate/privacy. Для получения более подробной информации о программе Google AdSense, нажмите сюда: www.google.com/adsense.</p>
     <p>СОГЛАСИЕ</p>
     <p>ЗАХОДЯ НА САЙТ КАК ЗАРЕГИСТРИРОВАННЫЙ ПОЛЬЗОВАТЕЛЬ, ДЛЯ ИСПОЛЬЗОВАНИЯ ЛЮБОГО ИЗ НАШИХ СЕРВИСОВ ИЛИ ПРОДОЛЖАЯ ИСПОЛЬЗОВАТЬ ЭТОТ ВЕБСАЙТ, ВЫ ДАЕТЕ СВОЕ СОГЛАСИЕ НА УСТАНОВКУ COOKIE-ФАЙЛОВ, КАК ОПИСАНО ВЫШЕ (КРОМЕ ТЕХ СЛУЧАЕВ, КОГДА ВЫ МЕНЯЕТЕ НАСТРОЙКИ ВАШЕГО БРАУЗЕРА ДЛЯ ОТКАЗА</p>
   </div>
  </div>
</div>

<div class="modal modal--thanks" id="modal-thanks">
  <div class="modal__header">
    <img class="modal__header-img" src="/img/modal-thanks.svg" alt="Спасибо за вашу заявку">
  </div>
  <div class="modal__content" id="thanks-default">
    <div class="modal__title">Ваша заявка <span class="text-nowrap">успешно отправлена!</span></div>
    <p class="modal__desc">Мы свяжемся с вами <span class="text-nowrap">в течение 30 минут.</span></p>
    <a class="modal__home-link button" href="/" title="На главную">На главную</a>
  </div>
  <div class="modal__content" id="thanks-review">
    <div class="modal__title">Ваш отзыв <span class="text-nowrap">успешно отправлен!</span></div>
  </div>
  <div class="modal__content" id="thanks-vacancy">
    <div class="modal__title">Ваша вакансия <span class="text-nowrap">успешно отправлена!</span></div>
    <p class="modal__desc">Мы свяжемся с вами в течение рабочего дня.</p>
  </div>
</div>

<!-- scripts -->
<script async src="/js/scripts.js"></script>
</body>

</html>
