/*! formstone v1.4.13 [upload.css] 2019-03-17 | GPL-3.0 License | formstone.it */
.fs-upload{position:relative;overflow:hidden}.fs-upload,.fs-upload *,.fs-upload :after,.fs-upload :before,.fs-upload:after,.fs-upload:before{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:none;transition:none;-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.fs-upload-input{position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1px;opacity:0;pointer-events:none}.fs-upload-target{cursor:pointer}.fs-upload-disabled .fs-upload-target,.no-touch .fs-upload-disabled:hover .fs-upload-target{cursor:default;cursor:not-allowed}
