<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="{{ meta.description }}">
  <meta name="keywords" content="{{ meta.keywords }}">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
  <meta property="og:title" content="{{ meta.og_title }}">
  <meta property="og:description" content="{{ meta.og_description }}"/>
  <meta property="og:type" content="{{ meta.og_type }}">
  <meta property="og:url" content="{{ meta.og_url }}">
  <meta property="og:site_name" content="{{ meta.og_site_name }}">

  <link rel="stylesheet" href="css/styles.css">
  <title>Такой страницы не существует. | Zerolab</title>
</head>

<body>

  <header class="header">
    <div class="header__container container">
      <div class="header__inner">
        <div class="header__menu">
          <div class="header__menu-caller">
            <div class="menu-caller__icon"></div>
            <span>меню</span>
          </div>
        </div>
        <div class="header__logo">
          <a class="header__logo-link" href="/" title="На главную"><img class="header__logo-img" src="img/logo.png" alt="Zerolab"></a>
        </div>
        <div class="header__start-project">
          <button class="header__start-project-button button" aria-label="Начать проект" data-fancybox="" data-src="#modal-project">Начать проект</button>
        </div>
        <div class="header__callback">
          <button class="header__callback-button" aria-label="Показать меню">
            <img class="callback-button__icon svg" src="img/phone.svg" alt="Контакты">
          </button>
        </div>

      </div>
    </div>
  </header>

  <div class="main-screen main-screen--404-page">

      <div class="main-screen__404-error">
        <picture>
          <source srcset="img/pages-header/404-m.svg" media="(max-width: 768px)">
          <img class="main-screen__404-error-img" src="img/pages-header/404.svg" alt="Ошибка 404">
        </picture>
        <p class="main-screen__404-error-desc"><span class="text-break">Такой страницы не существует.</span> Возможно, Вы ввели неправильный адрес или страница была удалена.</p>
        <a class="main-screen__404-error-link button" href="/" title="На главную">На главную</a>
      </div>

  </div>

  <!-- modals -->
<div class="modal-menu">
  <div class="container">
    <div class="main-menu">
      <ul class="main-menu__list list--services">
        <li class="main-menu__item"><a class="item__link link--main" href="index.html#services">Услуги</a></li>
        <li class="main-menu__item"><a class="item__link" href="web-development.html">Разработка сайтов</a></li>
        <li class="main-menu__item"><a class="item__link" href="support.html">Поддержка и развитие</a></li>
        <li class="main-menu__item"><a class="item__link" href="design.html">Дизайн поддержка</a></li>
        <li class="main-menu__item"><a class="item__link" href="outsourcing.html">Аутсорсинг</a></li>
        <li class="main-menu__item"><a class="item__link" href="b2b-services.html">Интеграция B2B-сервисов</a></li>
        <li class="main-menu__item"><a class="item__link" href="ecommerce.html">eCommerce проекты</a></li>
      </ul>

      <ul class="main-menu__list list--projects">
        <li class="main-menu__item"><a class="item__link link--main" href="projects.html">Проекты</a></li>
        <li class="main-menu__item"><a class="item__link" href="cases/nipt.html">Корпоративный сайт для компании НИПТ</a></li>
        <li class="main-menu__item"><a class="item__link" href="cases/philips.html">Промо-сайт электронной бритвы Philips 2300S</a></li>
        <li class="main-menu__item"><a class="item__link" href="cases/logotype.html">Интернет-магазин классических часов SECCO</a></li>
        <li class="main-menu__item"><a class="item__link" href="cases/sadko.html">CRM-система для сети клиник Садко</a></li>
      </ul>

      <ul class="main-menu__list list--main">
        <li class="main-menu__item"><a class="item__link link--main" href="reviews.html">Отзывы</a></li>
        <li class="main-menu__item"><a class="item__link link--main" href="index.html#clients">Клиенты</a></li>
        <li class="main-menu__item"><a class="item__link link--main" href="career.html">Вакансии</a></li>
        <li class="main-menu__item"><a class="item__link link--main" href="contacts.html">Контакты</a></li>
        <li class="main-menu__social">
          <a class="social__link" href="#" title="Мы в Facebook">
            <img class="social__icon svg" src="img/facebook-icon.svg" alt="Группа Facebook">
          </a>
          <a class="social__link" href="#" title="Мы в Instagram">
            <img class="social__icon svg" src="img/instagram.svg" alt="Группа Instagram">
          </a>
        </li>
      </ul>

      <div class="main-menu__list-buttons">
        <button class="main-menu__order-button button" aria-label="Заказать звонок" data-fancybox="" data-src="#modal-callback">Заказать звонок</button>
        <a class="main-menu__contact-link" href="tel:+79200014744" title="Позвонить">+ 7 (920) 001-47-44</a>
        <a class="main-menu__contact-link" href="mailto:zerolab@gmail.com" title="Написать">zerolab@gmail.com</a>

        <div class="main-menu__file-wrapper">
          <div class="main-menu__file">
            <a class="main-menu__file-link" href="#">Открыть презентацию</a>
            <span class="main-menu__file-info">5 MB, PDF</span>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="modal-contacts-menu">
  <div class="modal-contacts-menu__list">
    <div class="list__item">
      <button class="list__item-button button" aria-label="Начать проект" data-fancybox="" data-src="#modal-project">Начать проект</button>
    </div>
    <div class="list__item">
      <a class="list__item-link" href="mailto:zerolab@gmail.com" title="Наша почта">zerolab@gmail.com</a>
    </div>
    <div class="list__item">
      <a class="list__item-link" href="tel:+79200014744" title="Наша почта">+ 7 (920) 001-47-44</a>
    </div>
    <div class="list__item">
      <button class="list__item-button button" aria-label="Начать проект" data-fancybox="" data-src="#modal-callback">Заказать звонок</button>
    </div>
    <div class="list__item item--file">
      <a class="list__item-link link--file" href="#" title="Наша почта">Открыть презентацию</a>
      <span class="list__item-file-info">5 MB, PDF</span>
    </div>
  </div>
</div>

<div class="modal modal--callback" id="modal-callback">
  <div class="modal__header">
    <div class="modal__title">Заказать звонок</div>
  </div>
  <div class="modal__content">
    <form class="modal__form form">
      <label class="form__label" for="name">Имя *</label>
      <div class="form__input-outline">
        <input type="text" class="form__input input-field req-field" id="name" name="name" placeholder="Введите ваше имя">
        <span class="form__input-check"></span>
        <span class="form__input-error"></span>
      </div>

      <label class="form__label" for="phone">Номер телефона *</label>
      <div class="form__input-outline">
        <input type="tel" class="form__input input-field input-tel req-field" id="phone" name="phone" placeholder="Введите номер телефона">
        <span class="form__input-check"></span>
        <span class="form__input-error"></span>
      </div>

      <button type="submit" class="form__button button" aria-label="Отправить заявку">Отправить заявку</button>

      <p class="form__privacy-text">Отправляя данные, вы соглашаетесь <span class="text-break">с <a class="form__privacy-link" href="#" data-fancybox data-src="#modal-privacy">политикой конфиденциальности</a></span></p>
    </form>
  </div>
</div>

<div class="modal modal--project" id="modal-project">
  <div class="modal__header">
    <div class="modal__title">Начать проект</div>
  </div>
  <div class="modal__content">
    <form class="modal__form form" novalidate>
      <label class="form__label" for="name2">Имя *</label>
      <div class="form__input-outline">
        <input type="text" class="form__input input-field req-field" id="name2" name="name" placeholder="Введите ваше имя">
        <span class="form__input-check"></span>
        <span class="form__input-error"></span>
      </div>

      <div class="modal__form-input-inline">
        <div class="modal__form-input-wrapper">
          <label class="form__label" for="phone2">Номер телефона *</label>
          <div class="form__input-outline">
            <input type="tel" class="form__input input-field input-tel req-field" id="phone2" name="phone" placeholder="Введите номер телефона">
            <span class="form__input-check"></span>
            <span class="form__input-error"></span>
          </div>
        </div>
        <div class="modal__form-input-wrapper">
          <label class="form__label" for="email2">E-mail</label>
          <div class="form__input-outline">
            <input type="email" class="form__input input-field input-email" id="email2" name="email" placeholder="Введите ваш e-mail">
            <span class="form__input-check"></span>
            <span class="form__input-error"></span>
          </div>
        </div>
      </div>

      <label class="form__label" for="message">Комментарий</label>
      <div class="form__input-outline">
        <textarea class="form__textarea textarea-field" id="message" name="message" placeholder="Расскажите о проекте"></textarea>
        <span class="form__input-check"></span>
        <span class="form__input-error"></span>
      </div>

      <label class="form__label">Материалы по проекту</label>
      <div class="form__upload">
        <div class="js-upload-field fs-upload-element fs-upload fs-light upload-field"></div>
        <span class="form__input-error">Прикрепите файлы “.pdf” или “.doc”</span>
        <ul class="form__upload-list"></ul>
      </div>

      <button type="submit" class="form__button button" aria-label="Отправить заявку">Отправить заявку</button>

      <p class="form__privacy-text">Отправляя данные, вы соглашаетесь <span class="text-nowrap">с <a class="form__privacy-link" href="#" data-fancybox data-src="#modal-privacy">политикой конфиденциальности</a></span></p>
    </form>
  </div>
</div>

<div class="modal modal--privacy" id="modal-privacy">
  <div class="modal__header">
    <div class="modal__title">Политика конфиденциальности</div>
  </div>
  <div class="modal__content">
   <div class="modal__privacy-text">
     <p>Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года Вы подтверждаете свое согласие на обработку компанией ZeroLab персональных данных: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу исключительно в целях продажи программного обеспечения на Ваше имя, как это описано ниже, блокирование, обезличивание, уничтожение.</p>
     <p>Компания ZeroLab гарантирует конфиденциальность получаемой информации. Обработка персональных данных осуществляется в целях эффективного исполнения заказов, договоров и иных обязательств, принятых компанией ZeroLab в качестве обязательных к исполнению.</p>
     <p>В случае необходимости предоставления Ваших персональных данных правообладателю, дистрибьютору или реселлеру программного обеспечения в целях регистрации программного обеспечения на ваше имя, вы даёте согласие на передачу ваших персональных данных. Компания ZeroLab гарантирует, что правообладатель, дистрибьютор или реселлер программного обеспечения осуществляет защиту персональных данных на условиях, аналогичных изложенным в Политике конфиденциальности персональных данных.</p>
     <p>Настоящее согласие распространяется на следующие Ваши персональные данные: фамилия, имя и отчество, адрес электронной почты, почтовый адрес доставки заказов, контактный телефон, платёжные реквизиты.</p>
     <p>Срок действия согласия является неограниченным. Вы можете в любой момент отозвать настоящее согласие, направив письменное уведомления на адрес: 000000, г. Нижний Новгород, ул. Германа Лопатина, д. 8, с пометкой «Отзыв согласия на обработку персональных данных».</p>
     <p>Обращаем ваше внимание, что отзыв согласия на обработку персональных данных влечёт за собой удаление Вашей учётной записи с Интернет-сайта (http://zerolab.tech), а также уничтожение записей, содержащих ваши персональные данные, в системах обработки персональных данных компании ZeroLab, что может сделать невозможным пользование интернет-сервисами компании ZeroLab.</p>
     <p>Гарантирую, что представленная мной информация является полной, точной и достоверной, а также что при представлении информации не нарушаются действующее законодательство Российской Федерации, законные права и интересы третьих лиц. Вся представленная информация заполнена мною в отношении себя лично.</p>
     <p>Настоящее согласие действует в течение всего периода хранения персональных данных, если иное не предусмотрено законодательством Российской Федерации.</p>
   </div>
  </div>
</div>

<div class="modal modal--thanks" id="modal-thanks">
  <div class="modal__header">
    <img class="modal__header-img" src="img/modal-thanks.svg" alt="Спасибо за вашу заявку">
  </div>
  <div class="modal__content" id="thanks-default">
    <div class="modal__title">Ваша заявка <span class="text-nowrap">успешно отправлена!</span></div>
    <p class="modal__desc">Мы свяжемся с вами <span class="text-nowrap">в течение 30 минут.</span></p>
    <a class="modal__home-link button" href="/" title="На главную">На главную</a>
  </div>
  <div class="modal__content" id="thanks-review">
    <div class="modal__title">Ваш отзыв <span class="text-nowrap">успешно отправлен!</span></div>
  </div>
  <div class="modal__content" id="thanks-vacancy">
    <div class="modal__title">Ваше резюме <span class="text-nowrap">успешно отправлено!</span></div>
    <p class="modal__desc">Мы свяжемся с вами в течение рабочего дня.</span></p>
  </div>
</div>

<!-- scripts -->
<script async src="js/scripts.js"></script>
</body>

</html>
