<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="{{ meta.description }}">
  <meta name="keywords" content="{{ meta.keywords }}">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
  <meta property="og:title" content="{{ meta.og_title }}">
  <meta property="og:description" content="{{ meta.og_description }}"/>
  <meta property="og:type" content="{{ meta.og_type }}">
  <meta property="og:url" content="{{ meta.og_url }}">
  <meta property="og:site_name" content="{{ meta.og_site_name }}">

  <link rel="stylesheet" href="css/styles.css">
  <title>Разработка веб-сервисов и мобильных приложений | Zerolab</title>
</head>

<body>

  <header class="header">
    <div class="header__container container">
      <div class="header__inner">
        <div class="header__menu">
          <div class="header__menu-caller">
            <div class="menu-caller__icon"></div>
            <span>меню</span>
          </div>
        </div>
        <div class="header__logo">
          <a class="header__logo-link" href="/" title="На главную"><img class="header__logo-img" src="img/logo.png" alt="Zerolab"></a>
        </div>
        <div class="header__start-project">
          <button class="header__start-project-button button" aria-label="Начать проект" data-fancybox="" data-src="#modal-project">Начать проект</button>
        </div>
        <div class="header__callback">
          <button class="header__callback-button" aria-label="Показать меню">
            <img class="callback-button__icon svg" src="img/phone.svg" alt="Контакты">
          </button>
        </div>

      </div>
    </div>
  </header>

  <div class="main-screen">

      <div class="main-screen__main-slider slider">

        <div class="main-slider__slide">
          <div class="container container--slide">
            <div class="slide__item">
              <div class="slide__item-info">
                <span class="slide__item-title">Разработка <span class="text-nowrap">веб-сервисов</span> <span class="text-nowrap">и мобильных</span> приложений</span>
                <div class="slide__item-desc">
                  <p class="desc__p">Проектирование, разработка, развитие.</p>
                  <p class="desc__p">Работаем как аутсорс-продакшн.</p>
                  <p class="desc__p">Обеспечиваем прозрачность и находим оптимальное решение задач.</p>
                </div>
              </div>
              <div class="slide__item-img-wrapper">
                <img class="slide__item-img" src="img/main-slider/slide-01.svg" alt="Разработка веб-сервисов и мобильных приложений">
              </div>
            </div>
          </div>

        </div>
        <div class="main-slider__slide">
          <div class="container container--slide">
            <div class="slide__item">
              <div class="slide__item-info">
                <span class="slide__item-title">Можем работать <span class="text-nowrap">на субподряде</span></span>
                <div class="slide__item-desc">
                  <p class="desc__p">Или предоставить разработчиков и верстальщиков <span class="text-break">на аутсорсинг с почасовой оплатой.</span></p>

                </div>
              </div>
              <div class="slide__item-img-wrapper">
                <img class="slide__item-img" src="img/main-slider/slide-02.svg" alt="Работа на субподряде">
              </div>
            </div>
          </div>
        </div>
        <div class="main-slider__slide">
          <div class="container container--slide">
            <div class="slide__item">
              <div class="slide__item-info">
                <span class="slide__item-title">Поддерживаем <span class="text-nowrap">и развиваем</span></span>
                <div class="slide__item-desc">
                  <p class="desc__p">Чиним то, что сломалось, <span class="text-nowrap">улучшаем то, что есть.</span></p>
                  <p class="desc__p">Контролируем работу проектов 24/7.</p>

                </div>
              </div>
              <div class="slide__item-img-wrapper">
                <img class="slide__item-img" src="img/main-slider/slide-03.svg" alt="Поддерживаем и развитие проектов">
              </div>
            </div>
          </div>

        </div>
        <div class="main-slider__slide">
          <div class="container container--slide">
            <div class="slide__item">
              <div class="slide__item-info">
                <span class="slide__item-title">Маркетинг. <span class="text-break">Дизайн.</span> Разработка.</span>
                <div class="slide__item-desc">
                  <p class="desc__p">Анализируем. Проектируем. <span class="text-nowrap">Запускаем и развиваем.</span></p>
                </div>
              </div>
              <div class="slide__item-img-wrapper">
                <img class="slide__item-img" src="img/main-slider/slide-04.svg" alt="Маркетинг. Дизайн. Разработка.">
              </div>
            </div>
          </div>

        </div>

      </div>

    <div class="main-slider__slider-nav">
      <div class="container">
        <div class="slider-nav__inner">
          <button class="slider-nav__button button button--prev" aria-label="Предыдущий">Предыдущий</button>
          <ul class="slider-nav__timeline"></ul>
          <button class="slider-nav__button button button--next" aria-label="Следующий">Следующий</button>
        </div>

      </div>

    </div>

  </div>

  <div class="services-block block" id="services">

    <div class="container">
      <div class="block__header">
        <div class="block__bg-text">
          <img class="block__bg-text-img" src="img/services.svg" alt="Сервисы">
        </div>
        <h2 class="block__title title--block">Наши услуги</h2>
        <p class="block__desc">Креативные идеи и большой опыт работы - вот наши преимущества! <span class="text-break"></span>Оцените по достоинству весь потенциал!</p>
      </div>
      <div class="services-block__services-grid">
        <div class="services-grid__item">

          <div class="services-grid__item-info">

            <div class="services-grid__item-info-header">
              <div class="services-grid__item-icon">
                <img class="services-grid__item-icon-img svg" src="img/services/outsourcing.svg" alt="Аутсорсинг">
              </div>
              <span class="services-grid__item-title">Аутсорсинг</span>
            </div>

            <p class="services-grid__item-desc">Тот случай, когда с нас разработчики, а менеджмент проекта остается на вашей стороне.</p>
          </div>

          <div class="services-grid__item-meta">
            <span class="services-grid__item-num">01</span>
            <span class="services-grid__item-arrow">
              <img class="services-grid__item-arrow-img svg" src="img/services-link-arrow.svg" alt="Услуги аутсорсинга">
            </span>
          </div>
          <a class="services-grid__item-link" href="outsourcing.html" title="Услуги аутсорсинга">Аутсорсинг</a>

        </div>
        <div class="services-grid__item">

          <div class="services-grid__item-info">

            <div class="services-grid__item-info-header">
              <div class="services-grid__item-icon">
                <img class="services-grid__item-icon-img svg" src="img/services/website.svg" alt="Разработка сайтов">
              </div>
              <span class="services-grid__item-title">Разработка сайтов</span>
            </div>

            <p class="services-grid__item-desc">Делаем корпоративные сайты, каталоги, промосайты с конкурсами и посадочные страницы.</p>
          </div>

          <div class="services-grid__item-meta">
            <span class="services-grid__item-num">02</span>
            <span class="services-grid__item-arrow">
              <img class="services-grid__item-arrow-img svg" src="img/services-link-arrow.svg" alt="Услуги разработки сайтов">
            </span>
          </div>
          <a class="services-grid__item-link" href="web-development.html" title="Разработка сайтов">Разработка сайтов</a>

        </div>
        <div class="services-grid__item">

          <div class="services-grid__item-info">

            <div class="services-grid__item-info-header">
              <div class="services-grid__item-icon">
                <img class="services-grid__item-icon-img svg" src="img/services/design.svg" alt="Дизайн поддержка">
              </div>
              <span class="services-grid__item-title">Дизайн поддержка</span>
            </div>

            <p class="services-grid__item-desc">Решаем любые ваши задачи по дизайну: страницы с адаптивом, баннеры и ресайзы, полиграфия и наружка.</p>
          </div>

          <div class="services-grid__item-meta">
            <span class="services-grid__item-num">03</span>
            <span class="services-grid__item-arrow">
              <img class="services-grid__item-arrow-img svg" src="img/services-link-arrow.svg" alt="Услуги дизайнера">
            </span>
          </div>
          <a class="services-grid__item-link" href="design.html" title="Дизайн поддержка">Дизайн поддержка</a>

        </div>
        <div class="services-grid__item">

          <div class="services-grid__item-info">

            <div class="services-grid__item-info-header">
              <div class="services-grid__item-icon">
                <img class="services-grid__item-icon-img svg" src="img/services/b2b.svg" alt="Интеграция B2B-сервисов">
              </div>
              <span class="services-grid__item-title">Интеграция <span class="text-nowrap">B2B-сервисов</span></span>
            </div>

            <p class="services-grid__item-desc">SAAS-сервисы, CRM, ERP или уникальная разработка по вашему техзаданию.</p>
          </div>

          <div class="services-grid__item-meta">
            <span class="services-grid__item-num">04</span>
            <span class="services-grid__item-arrow">
              <img class="services-grid__item-arrow-img svg" src="img/services-link-arrow.svg" alt="Услуги интергации b2b-сервисов">
            </span>
          </div>
          <a class="services-grid__item-link" href="b2b-services.html" title="Интеграция B2B-сервисов">Интеграция B2B-сервисов</a>


        </div>
        <div class="services-grid__item">

          <div class="services-grid__item-info">

            <div class="services-grid__item-info-header">
              <div class="services-grid__item-icon">
                <img class="services-grid__item-icon-img svg" src="img/services/support.svg" alt="Поддержка и развитие">
              </div>
              <span class="services-grid__item-title">Поддержка и развитие</span>
            </div>

            <p class="services-grid__item-desc">Разрабатываем новый функционал, обновляем содержимое и администрируем сайт, иначе он устареет.</p>
          </div>

          <div class="services-grid__item-meta">
            <span class="services-grid__item-num">05</span>
            <span class="services-grid__item-arrow">
              <img class="services-grid__item-arrow-img svg" src="img/services-link-arrow.svg" alt="Услуги поддержки сайтов">
            </span>
          </div>
          <a class="services-grid__item-link" href="support.html" title="Поддержка и развитие">Поддержка и развитие</a>


        </div>
        <div class="services-grid__item">

          <div class="services-grid__item-info">

            <div class="services-grid__item-info-header">
              <div class="services-grid__item-icon">
                <img class="services-grid__item-icon-img svg" src="img/services/ecommerce.svg" alt="eCommerce проекты">
              </div>
              <span class="services-grid__item-title">eCommerce проекты</span>
            </div>

            <p class="services-grid__item-desc">Обладаем экспертизой для запуска и развития любого интернет-магазина.</p>
          </div>

          <div class="services-grid__item-meta">
            <span class="services-grid__item-num">06</span>
            <span class="services-grid__item-arrow">
              <img class="services-grid__item-link-img svg" src="img/services-link-arrow.svg" alt="Создание и поддержка интернет магазинов">
            </span>
          </div>
          <a class="services-grid__item-link" href="ecommerce.html" title="eCommerce проекты">eCommerce проекты</a>


        </div>
      </div>
    </div>

  </div>

  <div class="projects-block block">

    <div class="container">
      <div class="block__header">
        <div class="block__bg-text">
          <img class="block__bg-text-img" src="img/projects.svg" alt="Проекты">
        </div>
        <h2 class="block__title title--block">Наши проекты</h2>
        <div class="projects-block__filter">
          <ul class="projects-block__filter-list">
            <li class="projects-block__filter-item">
              <button class="filter-item__link link--active" title="Все проекты" data-filter="all" aria-label="Все">Все</button>
            </li>
            <li class="projects-block__filter-item">
              <button class="filter-item__link" title="Сайты" data-filter=".website" aria-label="Сайт">Сайт</button>
            </li>
            <li class="projects-block__filter-item">
              <button class="filter-item__link" title="Интернет магазины" data-filter=".e-shop" aria-label="Инернет-магазины">Инернет-магазины</button>
            </li>
            <li class="projects-block__filter-item">
              <button class="filter-item__link" title="CRM-системы" data-filter=".crm" aria-label="CRM">CRM</button>
            </li>
            <li class="projects-block__filter-item">
              <button class="filter-item__link" title="Онлайн сервисы" data-filter=".service" aria-label="Онлайн-сервис">Онлайн-сервис</button>
            </li>
            <li class="projects-block__filter-item">
              <button class="filter-item__link" title="Онлайн сервисы" data-filter=".service" aria-label="Онлайн-сервис">Шаблонные решения</button>
            </li>
          </ul>
        </div>
      </div>

      <div class="projects-block__slider slider">
        <div class="projects-block__slide slide--sadko crm">
          <div class="slide__item">
            <span class="slide__item-title">CRM-система для сети клиник Садко</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Разработка CRM</li>
                <li class="works-list__item">Тестирование</li>
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="arrow-next__img svg" src="img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="img/projects/projects-01.png" alt="CRM-система для сети клиник Садко">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="cases/sadko.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>
        <div class="projects-block__slide slide--nipt website">
          <div class="slide__item">
            <span class="slide__item-title">Корпоративный сайт для компании НИПТ</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Разработка</li>
                <li class="works-list__item">Поддержка</li>
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="arrow-next__img svg" src="img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="img/projects/projects-02.png" alt="Корпоративный сайт для компании НИПТ">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="cases/nipt.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>
        <div class="projects-block__slide slide--philips website">
          <div class="slide__item">
            <span class="slide__item-title">Промо-сайт электронной бритвы Philips 2300S</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">Разработка промо-сайта</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="arrow-next__img svg" src="img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="img/projects/projects-03.png" alt="Промо-сайт электронной бритвы Philips 2300S">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="cases/philips.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>
        <div class="projects-block__slide slide--secco e-shop">
          <div class="slide__item">
            <span class="slide__item-title">Интернет-магазин классических часов SECCO</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Проектирование</li>
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">Разработка</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="arrow-next__img svg" src="img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="img/projects/projects-04.png" alt="Интернет-магазин классических часов SECCO">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="cases/logotype.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>

        <div class="projects-block__slide slide--sadko crm">
          <div class="slide__item">
            <span class="slide__item-title">CRM-система для сети клиник Садко</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Разработка CRM</li>
                <li class="works-list__item">Тестирование</li>
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="arrow-next__img svg" src="img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="img/projects/projects-01.png" alt="CRM-система для сети клиник Садко">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="cases/sadko.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>
        <div class="projects-block__slide slide--nipt website">
          <div class="slide__item">
            <span class="slide__item-title">Корпоративный сайт для компании НИПТ</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Разработка</li>
                <li class="works-list__item">Поддержка</li>
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="arrow-next__img svg" src="img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="img/projects/projects-02.png" alt="Корпоративный сайт для компании НИПТ">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="cases/nipt.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>
        <div class="projects-block__slide slide--philips website">
          <div class="slide__item">
            <span class="slide__item-title">Промо-сайт электронной бритвы Philips 2300S</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">Разработка промо-сайта</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="arrow-next__img svg" src="img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="img/projects/projects-03.png" alt="Промо-сайт электронной бритвы Philips 2300S">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="cases/philips.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>
        <div class="projects-block__slide slide--secco e-shop">
          <div class="slide__item">
            <span class="slide__item-title">Интернет-магазин классических часов SECCO</span>
            <div class="slide__item-content">
              <ul class="item-content__works-list">
                <li class="works-list__item">Проектирование</li>
                <li class="works-list__item">Дизайн</li>
                <li class="works-list__item">Разработка</li>
                <li class="works-list__item">
                  <div class="works-list__arrow-next">
                    <img class="arrow-next__img svg" src="img/projects-read-more-arrow.svg" alt="Подробнее о работе">
                  </div>
                </li>
              </ul>

              <div class="item-content__img-wrapper">
                <img class="img-wrapper__img" src="img/projects/projects-04.png" alt="Интернет-магазин классических часов SECCO">
                <div class="img-wrapper__bg"></div>
              </div>
            </div>
            <a class="slide__item-link" href="cases/logotype.html" aria-label="Подробнее">Подробнее</a>
          </div>
        </div>

      </div>

      <div class="projects-block__slider-nav">
        <div class="slider-nav__inner">
          <button class="slider-nav__button button button--prev" aria-label="Предыдущий">Предыдущий</button>
          <button class="slider-nav__button button button--next" aria-label="Следующий">Следующий</button>
        </div>

        <a class="slider-nav__all-projects" href="projects.html" title="Все наши проекты">Смотреть все проекты</a>
      </div>


    </div>
  </div>

  <div class="advantages-block block">
    <div class="container">
      <ul class="advantages-block__list">
        <li class="advantages-block__list-item">
          <span class="list-item__value">150+</span>
          <p class="list-item__desc">Проектов реализовано нами</p>
        </li>
        <li class="advantages-block__list-item">
          <span class="list-item__value">5 лет</span>
          <p class="list-item__desc">Непрерывного роста и развития</p>
        </li>
        <li class="advantages-block__list-item">
          <span class="list-item__value">1500</span>
          <p class="list-item__desc">Часов разработки ежемесячно</p>
        </li>
        <li class="advantages-block__list-item">
          <span class="list-item__value">40+</span>
          <p class="list-item__desc">Специалистов работают в компании</p>
        </li>
      </ul>
    </div>

  </div>

  <div class="technology-block block">

    <div class="container">
      <div class="block__header">
        <div class="block__bg-text">
          <img class="block__bg-text-img" src="img/technologies.svg" alt="Технологии">
        </div>
        <h2 class="block__title title--block">Современные и мощные технологии</h2>
        <p class="block__desc">У нас большой арсенал инструментов,
          <span class="text-break">чтобы создавать и поддерживать проекты любой сложности</span>
        </p>
      </div>
      <div class="technology-block__list">

        <div class="technology-block__list-item">
          <span class="list-item__title">Backend</span>
          <ul class="list-item__techologies">
            <li class="list-item__techologies-item">Node.js</li>
            <li class="list-item__techologies-item">Redis</li>
            <li class="list-item__techologies-item">Mongo</li>
            <li class="list-item__techologies-item">Elasticsearch</li>
            <li class="list-item__techologies-item">PostgreSQL</li>
          </ul>
        </div>
        <div class="technology-block__list-item">
          <span class="list-item__title">Frontend</span>
          <ul class="list-item__techologies">
            <li class="list-item__techologies-item">React.js + Redux</li>
            <li class="list-item__techologies-item">Vue.js + Vuex</li>
            <li class="list-item__techologies-item">Webpack</li>
            <li class="list-item__techologies-item">ECMAScript 6</li>
            <li class="list-item__techologies-item">Gulp</li>
          </ul>
        </div>
        <div class="technology-block__list-item">
          <span class="list-item__title">Дизайн</span>
          <ul class="list-item__techologies">
            <li class="list-item__techologies-item">UI/UX</li>
            <li class="list-item__techologies-item">Figma</li>
            <li class="list-item__techologies-item">Photoshop</li>
            <li class="list-item__techologies-item">Principle</li>
            <li class="list-item__techologies-item">Illustrator</li>
          </ul>
        </div>
        <div class="technology-block__list-item">
          <span class="list-item__title">Тестирование</span>
          <ul class="list-item__techologies">
            <li class="list-item__techologies-item">Unit-тестирование</li>
            <li class="list-item__techologies-item">Нагрузочное</li>
            <li class="list-item__techologies-item">Функциональное</li>
            <li class="list-item__techologies-item">Кроссбраузерное</li>
          </ul>
        </div>
        <div class="technology-block__list-item">
          <span class="list-item__title">Интеграция</span>
          <ul class="list-item__techologies">
            <li class="list-item__techologies-item">SAAS-сервисы</li>
            <li class="list-item__techologies-item">CRM</li>
            <li class="list-item__techologies-item">ERP</li>
          </ul>
        </div>

      </div>
    </div>

  </div>

  <div class="team-block block">
    <div class="container">
      <div class="block__header">
        <div class="block__bg-text">
          <img class="block__bg-text-img" src="img/directions.svg" alt="Направления">
        </div>
        <h2 class="block__title title--block">Команда brand и digital разработчиков</h2>
      </div>

      <ul class="team-block__tab-panel">
        <li class="team-block__tab-panel-item item--active" data-tab="tab-1">Digital-агенствам</li>
        <li class="team-block__tab-panel-item" data-tab="tab-2">Корпоративным клиентам</li>
      </ul>

      <div class="team-block__tabs-wrapper">
        <div class="team-block__tab tab--active" id="tab-1">
          <div class="team-block__tab-item">
            <img class="team-block__tab-item-icon" src="img/team-icon-01.svg" alt="Для крупных агенств">
            <p class="team-block__tab-item-desc">Для крупных агенств — возможность разгрузить штатную команду и передать часть проектов с сохранением качества.</p>
          </div>
          <div class="team-block__tab-item">
            <img class="team-block__tab-item-icon" src="img/team-icon-02.svg" alt="Поиск">
            <p class="team-block__tab-item-desc">Отсутствие необходимости поиска, подбора и обучения «дорогих» кадров веб-разработчиков на которые всегда есть стабильный спрос</p>
          </div>
          <div class="team-block__tab-item">
            <img class="team-block__tab-item-icon" src="img/team-icon-03.svg" alt="Срок разработки">
            <p class="team-block__tab-item-desc">Для небольших компаний — возможность минимизировать или не держать собственного штата разработки при этом сократить сроки разработки</p>
          </div>
          <div class="team-block__tab-item">
            <img class="team-block__tab-item-icon" src="img/team-icon-04.svg" alt="Аутсорсинг">
            <p class="team-block__tab-item-desc">Возможность доукомплектовать свой штат узкопрофильными специалистами под пиковые нагрузки.</p>
          </div>
        </div>
        <div class="team-block__tab" id="tab-2">
        <ul class="team-block__tab-panel">
          <li class="team-block__tab-panel-item item--active" data-tab="tab-2">Корпоративным клиентам</li>
        </ul>
          <div class="team-block__tab-item">
            <img class="team-block__tab-item-icon" src="img/team-icon-05.svg" alt="Корпоративным клиентам">
            <p class="team-block__tab-item-desc">Стартапам и сервисам — разработка архитектуры проекта, подбор оптимальных технологий для решения задач и реализация с применением гибких подходов, например Agile.</p>
          </div>
          <div class="team-block__tab-item">
            <img class="team-block__tab-item-icon" src="img/team-icon-06.svg" alt="Команда">
            <p class="team-block__tab-item-desc">Для действующих проектов возможность дополнить собственную команду постоянными разработчиками с полным погружением в проект</p>
          </div>
          <div class="team-block__tab-item">
            <img class="team-block__tab-item-icon" src="img/team-icon-07.svg" alt="Поддержка">
            <p class="team-block__tab-item-desc">Перенос проектов на нашу полную поддержку (в том числе с доработкой с чужого кода) с последующей документацией и оптимизацией кода</p>
          </div>
          <div class="team-block__tab-item">
            <img class="team-block__tab-item-icon" src="img/team-icon-08.svg" alt="Безопасность">
            <p class="team-block__tab-item-desc">SLA и NDA для нас не просто аббревиатуры, мы ответственно относимся к работе и предоставляем максимальный уровень обслуживания и конфиденциальности</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="clients-block block" id="clients">
    <div class="container">
      <div class="block__header">
        <div class="block__bg-text">
          <img class="block__bg-text-img" src="img/partners.svg" alt="Партнеры">
        </div>
        <h2 class="block__title title--block">Наши клиенты</h2>
        <p class="block__desc">По условиям NDA мы не можем разглашать бренды, для которых делали проекты. Нам проще перечислить компании, с которыми мы не работали, чем те, для которых мы выполняли хоть какие-то работы в период <span class="text-nowrap">с 2012 по 2019 год.</span></p>
      </div>

      <div class="clients__grid">
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/bbdo_logo.png" alt="BBDO">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/notamedia_logo.png" alt="Notamedia">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/articulmedia_logo.png" alt="Articulmedia">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/twiga_logo.png" alt="Twiga">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/nectarin_logo.png" alt="Nectarin">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/possible_logo.png" alt="Possible">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/a-parnt_logo.png" alt="A-partner">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/red-keds_logo.png" alt="Red-keds">
         </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/greensight_logo.png" alt="Greensight">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/qsost_logo.png" alt="Qsoft">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/marvelous_logo.png" alt="Marvelous">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/havas_logo.png" alt="Havas">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/hungry-boys_logo.png" alt="Hungry-boys">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/it-agency_logo.png" alt="It-agency">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/inostudio_logo.png" alt="Inostudio">
        </div>
        <div class="clients__grid-item">
          <img class="clients__grid-item-logo" src="img/clients/air-production_logo.png" alt="Air-production">
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">

      <div class="main-menu menu--footer">

        <ul class="main-menu__list list--services">
          <li class="main-menu__item"><a class="item__link link--main link--anchor" href="#services">Услуги</a></li>
          <li class="main-menu__item"><a class="item__link" href="web-development.html">Разработка сайтов</a></li>
          <li class="main-menu__item"><a class="item__link" href="support.html">Поддержка и развитие</a></li>
          <li class="main-menu__item"><a class="item__link" href="design.html">Дизайн поддержка</a></li>
          <li class="main-menu__item"><a class="item__link" href="outsourcing.html">Аутсорсинг</a></li>
          <li class="main-menu__item"><a class="item__link" href="b2b-services.html">Интеграция B2B-сервисов</a></li>
          <li class="main-menu__item"><a class="item__link" href="ecommerce.html">eCommerce проекты</a></li>
        </ul>

        <ul class="main-menu__list list--projects">
          <li class="main-menu__item"><a class="item__link link--main" href="projects.html">Проекты</a></li>
          <li class="main-menu__item"><a class="item__link" href="cases/nipt.html">Корпоративный сайт для компании НИПТ</a></li>
          <li class="main-menu__item"><a class="item__link" href="cases/philips.html">Промо-сайт электронной бритвы Philips 2300S</a></li>
          <li class="main-menu__item"><a class="item__link" href="cases/logotype.html">Интернет-магазин классических часов SECCO</a></li>
          <li class="main-menu__item"><a class="item__link" href="cases/sadko.html">CRM-система для сети клиник Садко</a></li>
        </ul>

        <ul class="main-menu__list list--main">
          <li class="main-menu__item"><a class="item__link link--main" href="reviews.html">Отзывы</a></li>
          <li class="main-menu__item"><a class="item__link link--main link--anchor" href="#clients">Клиенты</a></li>
          <li class="main-menu__item"><a class="item__link link--main" href="career.html">Вакансии</a></li>
          <li class="main-menu__item"><a class="item__link link--main" href="contacts.html">Контакты</a></li>
          <li class="main-menu__social">
            <a class="social__link" href="#" title="Мы в Facebook">
              <img class="social__icon svg" src="img/facebook-icon.svg" alt="Группа Facebook">
            </a>
            <a class="social__link" href="#" title="Мы в Instagram">
              <img class="social__icon svg" src="img/instagram.svg" alt="Группа Instagram">
            </a>
          </li>
        </ul>

        <div class="main-menu__list-buttons">
          <button class="main-menu__order-button button" aria-label="Заказать звонок" data-fancybox="" data-src="#modal-callback">Заказать звонок</button>
          <a class="main-menu__contact-link" href="tel:+79200014744" title="Позвонить">+ 7 (920) 001-47-44</a>
          <a class="main-menu__contact-link" href="mailto:zerolab@gmail.com" title="Написать">zerolab@gmail.com</a>

          <div class="main-menu__file-wrapper">
            <div class="main-menu__file">
              <a class="main-menu__file-link" href="#">Открыть презентацию</a>
              <span class="main-menu__file-info">5 MB, PDF</span>
            </div>
          </div>

          <div class="main-menu__social">
            <a class="social__link" href="#" title="Мы в Facebook">
              <img class="social__icon svg" src="img/facebook-icon.svg" alt="Группа Facebook">
            </a>
            <a class="social__link" href="#" title="Мы в Instagram">
              <img class="social__icon svg" src="img/instagram.svg" alt="Группа Instagram">
            </a>
          </div>

        </div>
      </div>

    </div>

    <div class="footer__add-info">
      <div class="container">
        <div class="footer__add-info-inner">
          <div class="footer__company">
            <a href="/" title="Перейти на главную"><img class="footer__logo" src="img/logo.png" alt="Zerolab"></a>
            <span class="footer__copyright">© ZeroLab, 2019</span>
          </div>
          <div class="footer__add-links">
            <a href="#" class="footer__link" data-fancybox data-src="#modal-cookies" title="Правила использования cookies">
              Правила использования cookies
            </a>
            <a href="#" class="footer__link" data-fancybox data-src="#modal-privacy" title="Политика конфиденциальности">
              Политика конфиденциальности
            </a>
          </div>
        </div>
      </div>

      </div>
  </footer>

  <!-- modals -->
<div class="popover-cookies">
  <div class="container">
    <div class="popover-cookies__content">

      <p class="popover-cookies__text">
        Мы используем файлы cookie. Подробная информация по ссылке:
        <a class="popover-cookies__text-link" href="#" aria-label="" data-fancybox="" data-src="#modal-cookies">
          правила использования cookies
        </a>
      </p>
      <div class="popover-cookies__button-wrapper">
        <button class="popover-cookies__button-agree" aria-label="Понятно">Понятно</button>
        <button class="popover-cookies__button-close" aria-label="Закрыть">Закрыть</button>
      </div>

    </div>
  </div>
</div>

<div class="modal-menu">
  <div class="container">
    <div class="main-menu">
      <ul class="main-menu__list list--services">
        <li class="main-menu__item"><a class="item__link link--main link--anchor" href="#services">Услуги</a></li>
        <li class="main-menu__item"><a class="item__link" href="web-development.html">Разработка сайтов</a></li>
        <li class="main-menu__item"><a class="item__link" href="support.html">Поддержка и развитие</a></li>
        <li class="main-menu__item"><a class="item__link" href="design.html">Дизайн поддержка</a></li>
        <li class="main-menu__item"><a class="item__link" href="outsourcing.html">Аутсорсинг</a></li>
        <li class="main-menu__item"><a class="item__link" href="b2b-services.html">Интеграция B2B-сервисов</a></li>
        <li class="main-menu__item"><a class="item__link" href="ecommerce.html">eCommerce проекты</a></li>
      </ul>

      <ul class="main-menu__list list--projects">
        <li class="main-menu__item"><a class="item__link link--main" href="projects.html">Проекты</a></li>
        <li class="main-menu__item"><a class="item__link" href="cases/nipt.html">Корпоративный сайт для компании НИПТ</a></li>
        <li class="main-menu__item"><a class="item__link" href="cases/philips.html">Промо-сайт электронной бритвы Philips 2300S</a></li>
        <li class="main-menu__item"><a class="item__link" href="cases/logotype.html">Интернет-магазин классических часов SECCO</a></li>
        <li class="main-menu__item"><a class="item__link" href="cases/sadko.html">CRM-система для сети клиник Садко</a></li>
      </ul>

      <ul class="main-menu__list list--main">
        <li class="main-menu__item"><a class="item__link link--main" href="reviews.html">Отзывы</a></li>
        <li class="main-menu__item"><a class="item__link link--main link--anchor" href="#clients">Клиенты</a></li>
        <li class="main-menu__item"><a class="item__link link--main" href="career.html">Вакансии</a></li>
        <li class="main-menu__item"><a class="item__link link--main" href="contacts.html">Контакты</a></li>
        <li class="main-menu__social">
          <a class="social__link" href="#" title="Мы в Facebook">
            <img class="social__icon svg" src="img/facebook-icon.svg" alt="Группа Facebook">
          </a>
          <a class="social__link" href="#" title="Мы в Instagram">
            <img class="social__icon svg" src="img/instagram.svg" alt="Группа Instagram">
          </a>
        </li>
      </ul>

      <div class="main-menu__list-buttons">
        <button class="main-menu__order-button button" aria-label="Заказать звонок" data-fancybox="" data-src="#modal-callback">Заказать звонок</button>
        <a class="main-menu__contact-link" href="tel:+79200014744" title="Позвонить">+ 7 (920) 001-47-44</a>
        <a class="main-menu__contact-link" href="mailto:zerolab@gmail.com" title="Написать">zerolab@gmail.com</a>

        <div class="main-menu__file-wrapper">
          <div class="main-menu__file">
            <a class="main-menu__file-link" href="#">Открыть презентацию</a>
            <span class="main-menu__file-info">5 MB, PDF</span>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="modal-contacts-menu">
  <div class="modal-contacts-menu__list">
    <div class="list__item">
      <button class="list__item-button button" aria-label="Начать проект" data-fancybox="" data-src="#modal-project">Начать проект</button>
    </div>
    <div class="list__item">
      <a class="list__item-link" href="mailto:zerolab@gmail.com" title="Наша почта">zerolab@gmail.com</a>
    </div>
    <div class="list__item">
      <a class="list__item-link" href="tel:+79200014744" title="Наша почта">+ 7 (920) 001-47-44</a>
    </div>
    <div class="list__item">
      <button class="list__item-button button" aria-label="Начать проект" data-fancybox="" data-src="#modal-callback">Заказать звонок</button>
    </div>
    <div class="list__item item--file">
      <a class="list__item-link link--file" href="#" title="Наша почта">Открыть презентацию</a>
      <span class="list__item-file-info">5 MB, PDF</span>
    </div>
  </div>
</div>

<div class="modal modal--callback" id="modal-callback">
  <div class="modal__header">
    <div class="modal__title">Заказать звонок</div>
  </div>
  <div class="modal__content">
    <form class="modal__form form">
      <label class="form__label" for="name">Имя *</label>
      <div class="form__input-outline">
        <input type="text" class="form__input input-field req-field" id="name" name="name" placeholder="Введите ваше имя">
        <span class="form__input-check"></span>
        <span class="form__input-error"></span>
      </div>

      <label class="form__label" for="phone">Номер телефона *</label>
      <div class="form__input-outline">
        <input type="tel" class="form__input input-field input-tel req-field" id="phone" name="phone" placeholder="Введите номер телефона">
        <span class="form__input-check"></span>
        <span class="form__input-error"></span>
      </div>

      <button type="submit" class="form__button button" aria-label="Отправить заявку">Отправить заявку</button>

      <p class="form__privacy-text">Отправляя данные, вы соглашаетесь <span class="text-break">с <a class="form__privacy-link" href="#" data-fancybox data-src="#modal-privacy">политикой конфиденциальности</a></span></p>
    </form>
  </div>
</div>

<div class="modal modal--project" id="modal-project">
  <div class="modal__header">
    <div class="modal__title">Начать проект</div>
  </div>
  <div class="modal__content">
    <form class="modal__form form" novalidate>
      <label class="form__label" for="name2">Имя *</label>
      <div class="form__input-outline">
        <input type="text" class="form__input input-field req-field" id="name2" name="name" placeholder="Введите ваше имя">
        <span class="form__input-check"></span>
        <span class="form__input-error"></span>
      </div>

      <div class="modal__form-input-inline">
        <div class="modal__form-input-wrapper">
          <label class="form__label" for="phone2">Номер телефона *</label>
          <div class="form__input-outline">
            <input type="tel" class="form__input input-field input-tel req-field" id="phone2" name="phone" placeholder="Введите номер телефона">
            <span class="form__input-check"></span>
            <span class="form__input-error"></span>
          </div>
        </div>
        <div class="modal__form-input-wrapper">
          <label class="form__label" for="email2">E-mail</label>
          <div class="form__input-outline">
            <input type="email" class="form__input input-field input-email" id="email2" name="email" placeholder="Введите ваш e-mail">
            <span class="form__input-check"></span>
            <span class="form__input-error"></span>
          </div>
        </div>
      </div>

      <label class="form__label" for="message">Комментарий</label>
      <div class="form__input-outline">
        <textarea class="form__textarea textarea-field" id="message" name="message" placeholder="Расскажите о проекте"></textarea>
        <span class="form__input-check"></span>
        <span class="form__input-error"></span>
      </div>

      <label class="form__label">Материалы по проекту</label>
      <div class="form__upload requared">
        <span class="form__upload-text">Файлы “.pdf” или “.doc”</span>
        <input type="file" class="form__input-upload upload--project" id="file-project" hidden multiple>
        <label class="form__label-upload" for="file-project"></label>
        <div class="form__upload-list"></div>
        <span class="form__input-error">Прикрепите файлы “.pdf” или “.doc”</span>
      </div>

      <button type="submit" class="form__button button" aria-label="Отправить заявку">Отправить заявку</button>

      <p class="form__privacy-text">Отправляя данные, вы соглашаетесь <span class="text-nowrap">с <a class="form__privacy-link" href="#" data-fancybox data-src="#modal-privacy">политикой конфиденциальности</a></span></p>
    </form>
  </div>
</div>

<div class="modal modal--privacy" id="modal-privacy">
  <div class="modal__header">
    <div class="modal__title">Политика конфиденциальности</div>
  </div>
  <div class="modal__content">
   <div class="modal__privacy-text">
     <p>Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года Вы подтверждаете свое согласие на обработку компанией ZeroLab персональных данных: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу исключительно в целях продажи программного обеспечения на Ваше имя, как это описано ниже, блокирование, обезличивание, уничтожение.</p>
     <p>Компания ZeroLab гарантирует конфиденциальность получаемой информации. Обработка персональных данных осуществляется в целях эффективного исполнения заказов, договоров и иных обязательств, принятых компанией ZeroLab в качестве обязательных к исполнению.</p>
     <p>В случае необходимости предоставления Ваших персональных данных правообладателю, дистрибьютору или реселлеру программного обеспечения в целях регистрации программного обеспечения на ваше имя, вы даёте согласие на передачу ваших персональных данных. Компания ZeroLab гарантирует, что правообладатель, дистрибьютор или реселлер программного обеспечения осуществляет защиту персональных данных на условиях, аналогичных изложенным в Политике конфиденциальности персональных данных.</p>
     <p>Настоящее согласие распространяется на следующие Ваши персональные данные: фамилия, имя и отчество, адрес электронной почты, почтовый адрес доставки заказов, контактный телефон, платёжные реквизиты.</p>
     <p>Срок действия согласия является неограниченным. Вы можете в любой момент отозвать настоящее согласие, направив письменное уведомления на адрес: 000000, г. Нижний Новгород, ул. Германа Лопатина, д. 8, с пометкой «Отзыв согласия на обработку персональных данных».</p>
     <p>Обращаем ваше внимание, что отзыв согласия на обработку персональных данных влечёт за собой удаление Вашей учётной записи с Интернет-сайта (http://zerolab.tech), а также уничтожение записей, содержащих ваши персональные данные, в системах обработки персональных данных компании ZeroLab, что может сделать невозможным пользование интернет-сервисами компании ZeroLab.</p>
     <p>Гарантирую, что представленная мной информация является полной, точной и достоверной, а также что при представлении информации не нарушаются действующее законодательство Российской Федерации, законные права и интересы третьих лиц. Вся представленная информация заполнена мною в отношении себя лично.</p>
     <p>Настоящее согласие действует в течение всего периода хранения персональных данных, если иное не предусмотрено законодательством Российской Федерации.</p>
   </div>
  </div>
</div>

<div class="modal modal--cookies" id="modal-cookies">
  <div class="modal__header">
    <div class="modal__title">Правила использования cookies</div>
  </div>
  <div class="modal__content">
   <div class="modal__cookies-text">
     <p>Как и многие другие вебсайты, мы используем cookie-файлы. Cookies – это небольшие текстовые файлы, которые вебсайты автоматически сохраняют в браузере вашего компьютера, когда вы заходите на сайт. Мы не используем cookie-файлы, которые обращаются к какой-либо информации, хранимой на вашем жестком диске, повреждают или подвергают ваш компьютер иной опасности. Мы используем cookie-файлы для идентификации вашего компьютера, когда вы используете наши онлайн-сервисы, и для отслеживания и оказания вам помощи в навигации по нашим онлайн-сервисам.</p>
     <p>Примерами данных, которые могут анализироваться с применением cookie-файлов, являются имя пользователя; адрес электронной почты и пароль; IP-адрес, используемый для подключения вашего компьютера к интернету; тип и версия браузера; операционная система и платформа, используемая вами при подключении; области наших онлайн-сервисов, которые вы просматривали или искали; URL-адреса с или через которые вы вошли и вышли из наших онлайн-сервисов; и дата со временем подобных действий.</p>
     <p>Сookie-файлы используются на наших сайтах для достижения различных целей, а именно: - Ограничение рекламных кампаний – мы используем сookie-файлы, чтобы наши пользователи не подвергались чрезмерному воздействию той или иной рекламной интернет-кампании. - Geo-Management Advisory Service – мы используем сookie-файлы для определения того, когда пользователь в последний раз просматривал сообщение о том, что вебсайт, на который он заходит, ориентирован на определенный географический регион или страну. - Ограничение голосования – на некоторых сайтах мы используем сookie-файлы для проверки количества голосов, отданных тем или иным пользователем за одни сутки. - Функция плейлиста – наши музыкальные сайты используют дополнительные куки для обеспечения правильной работы плейлиста на сайте. Вы можете использовать раздел «Помощь» на панели инструментов большинства браузеров, чтобы изменить настройки вашего компьютера, например, чтобы видеть уведомления о получении сookie-файлов или вообще отказаться от получения таковых. Однако если вы полностью откажетесь от получения сookie-файлов, некоторые функции наших онлайн-сервисов могут не работать или же доступ к ним будет затруднен. Чтобы получить более подробную информацию о куки, зайдите на сайт www.youronlinechoices.eu.</p>
     <p>Поведенческая реклама в интернете Мы прибегаем к услугам сторонних рекламных компании с целью доставки рекламных сообщений на наши онлайн-сервисы, включая компанию DoubleClick и программу Google AdSense. Получаемые вами рекламные сообщения зависят от множества факторов, включая информацию о страницах, на которые вы заходили (журнал обозревателя) до посещения этого вебсайта. Эти компании могут использовать сведения (не включая ваше имя, адрес, адрес электронной почты или номер телефона) об использовании вами наших онлайн-сервисов, чтобы доставлять вам рекламные сообщения о товарах и услугах, которые могут заинтересовать вас. В ходе доставки рекламных сообщений сеть нашей сторонней компании может помещать или опознавать уникальные «сookie-файлы» в вашем браузере. Это «постоянные» сookies, они сохраняются на вашем компьютере и хранятся до тех пор, пока не истечет срок их действия или вы не удалите их. Сети распространения рекламы также могут пользоваться другими технологиями, такими как «веб-маяки», чтобы получаемые вами рекламные сообщения были более актуальными для вас. Для получения более подробной информации о работе DoubleClick и о том, что вы можете сделать, чтобы эта информация не использовалась, нажмите сюда: www.doubleclick.net/us/corporate/privacy. Для получения более подробной информации о программе Google AdSense, нажмите сюда: www.google.com/adsense.</p>
     <p>СОГЛАСИЕ</p>
     <p>ЗАХОДЯ НА САЙТ КАК ЗАРЕГИСТРИРОВАННЫЙ ПОЛЬЗОВАТЕЛЬ, ДЛЯ ИСПОЛЬЗОВАНИЯ ЛЮБОГО ИЗ НАШИХ СЕРВИСОВ ИЛИ ПРОДОЛЖАЯ ИСПОЛЬЗОВАТЬ ЭТОТ ВЕБСАЙТ, ВЫ ДАЕТЕ СВОЕ СОГЛАСИЕ НА УСТАНОВКУ COOKIE-ФАЙЛОВ, КАК ОПИСАНО ВЫШЕ (КРОМЕ ТЕХ СЛУЧАЕВ, КОГДА ВЫ МЕНЯЕТЕ НАСТРОЙКИ ВАШЕГО БРАУЗЕРА ДЛЯ ОТКАЗА</p>
   </div>
  </div>
</div>

<div class="modal modal--thanks" id="modal-thanks">
  <div class="modal__header">
    <img class="modal__header-img" src="img/modal-thanks.svg" alt="Спасибо за вашу заявку">
  </div>
  <div class="modal__content" id="thanks-default">
    <div class="modal__title">Ваша заявка <span class="text-nowrap">успешно отправлена!</span></div>
    <p class="modal__desc">Мы свяжемся с вами <span class="text-nowrap">в течение 30 минут.</span></p>
    <a class="modal__home-link button" href="/" title="На главную">На главную</a>
  </div>
  <div class="modal__content" id="thanks-review">
    <div class="modal__title">Ваш отзыв <span class="text-nowrap">успешно отправлен!</span></div>
  </div>
  <div class="modal__content" id="thanks-vacancy">
    <div class="modal__title">Ваше резюме <span class="text-nowrap">успешно отправлено!</span></div>
    <p class="modal__desc">Мы свяжемся с вами в течение рабочего дня.</span></p>
  </div>
</div>

<!-- scripts -->
<script async src="js/scripts.js"></script>
</body>


</html>
